[2016-06-29 23:48] mathetos opened #9 "Testing Gateways need docs"
@mathetos commented on [Mon Jan 18 2016](https://github.com/WordImpress/Give-Website/issues/58)

The following documentation articles don't have instructions for testing donations with that specific gateway:
- [x] Authorize.net (https://github.com/WordImpress/Give-Docs/issues/75 assigned to @esolar07 )
- [x] WePay (https://github.com/WordImpress/Give-Docs/issues/76 assigned to @Benunc )
- [x] 2Che

[2016-08-17 21:04] DevinWalker opened #52 "Doc needed for new Subscription REST API endpoint"
@DevinWalker commented on [Thu Nov 19 2015](https://github.com/WordImpress/Give-Recurring-Donations/issues/51)

With Give Recurring there is a new REST API endpoint for querying subscription data. This should be highlighted in a doc. Probably not a very high priority for launch so I'm going to leave this off a milestone for now.

---

@DevinWalker commented on [Wed Aug 17 2016](https://github.com/

[2016-09-24 00:05] mathetos opened #57 "UPDATE: PayPal Payments Pro Recurring Docs"
**URL:**
https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/paypal-pro/

**PROBLEM:**
- [ ] The screenshots are outdated which causes confusion for users who are on the newer accounts (manager.paypal.com)
- [ ] There needs to be specific instructions for each different account type, and mention that PayFlow requires that they upgrade their account and there's a

[2017-02-01 21:20] mathetos opened #71 "UPDATE: Give User Roles is woefully incomplete"
**URL:**
https://givewp.com/documentation/core/give-user-roles/

**PROBLEM:**
There's a lot more info that need to be added to this doc, and potentially make it a section.

**SOLUTION:**
Here's how I'd like this to go:

1) Convert that page into: Give User Roles and Capabilities. That page would then be an overview of how Give handles roles and capabilities
2) Create "What are Roles and Capabiliti

[2017-05-02 22:37] mathetos opened #75 "NEW: Testing Authorize.net"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/add-ons/authorize-net-gateway/testing -- needs to be created

**PROBLEM:**
Testing Authorize.net with Give in Test Mode is important, but requires special steps to make happen well.

**SOLUTION:**
We need to add this page to address it head-on.

Here's the outline that this doc should follow:

1. Introduce the purpose of the article, similar

[2017-06-30 17:43] Benunc opened #85 "NEW: Create a subpage Doc for recurring to explain WP User/Give Subscriber relationship"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/add-ons/recurring-donations/managing-subscriptions/

**PROBLEM:** The doc linked above might be sufficient for this, and this could be added there, but what we need is a way to explain the ramifications of forcing login vs. email access, and how Give Subscribers have access to their donation history based on those choices.

There's currently

[2017-08-15 19:43] Benunc opened #90 "UPDATE: Add clarification for Form Field Manager field location options"
**URL:** https://givewp.com/documentation/add-ons/form-field-manager/form-field-manager-101/

**PROBLEM:** There's no section outlining how the field placement options relate to the modal/button mode options, and how to get fields to show up on the modal.

**SOLUTION:** We need to add clarification there.

### Acceptance criteria
- [x] the screenshot are updated
- [x] the first person language is

[2017-10-30 19:34] DevinWalker opened #101 "[Give 2.0] UPDATE: Add Settings Export section to Export Doc"
## NEW DOC NEEDED:
Documentation is needed for the new Settings Importer / Exporter. This effectively allows you to migrate your global settings, including add-ons, from one site to another.

More described on the issue here: https://github.com/WordImpress/Give/issues/2009 and within the PR here:  https://github.com/WordImpress/Give/issues/2009

@raftaar1191 created a video displaying how it works

[2017-11-09 05:28] mehul0810 opened #105 "UPDATE: GIF and Screenshots for Give Manual Donations addons"
ISSUE CONTENT
**URL:** https://givewp.com/addons/manual-donations/

**PROBLEM:**
GIF's and ScreenShots of Give Manual Donations are outdated and needs update.

For Example, `New Transaction` button is now `New Donation`

**SOLUTION:**
Update the GIF's and Screenshots with the latest version.

[2017-11-09 17:08] Benunc opened #106 "UPDATE: Document the new Form Settings Importer/Exporter"
**URL:** https://givewp.com/documentation/core/give-forms/importing-and-exporting-forms/

**PROBLEM:** The doc currently suggests using the WordPress Importer. @ravinderk and the dev team are making a form settings Migration tool that will replace the need for the WordPress importer. This will need to be documented.

**SOLUTION:** Create a new doc walking through the new form/settings migration to

[2017-11-23 14:09] marutim opened #109 "UPDATE: Include details about hidden and phone field in the FFM doc"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/add-ons/form-field-manager/understanding-the-various-form-fields/
**PROBLEM:** Include details about hidden and phone field this doc. Also update the screenshots
**SOLUTION:** We need to add details about hidden and phone field that is now available with FFM.

[2017-11-29 20:27] DevinWalker opened #111 "Docs needed for new Stripe "Statement Descriptor" field"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/add-ons/stripe-gateway/

In version `1.5.1` I added a "Statement Descriptor" field:

![2017-11-29_12-24-38](https://user-images.githubusercontent.com/1571635/33397448-7e4099a2-d500-11e7-8e0f-f4e80d417d90.png)

This allows you to customize the info that displays on bank statements. By default, it will be the website name.

![2017-11-29_12-26-2

[2017-12-13 05:21] mathetos opened #114 "Review whether we need updated Screenshots for Custom Amount Fix"
This issue may impact a lot of screenshots, but potentially negligibly.

Review Docs in general for any glaring screenshots that REALLY need an update based on this issue:
https://github.com/WordImpress/Give/issues/2401

[2017-12-29 19:03] marutim opened #118 "[Give 2.0] UPDATE docs for Emails tabs"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/core/settings/emails/

**PROBLEM:** Update docs for Give 2.0 changes.

**SOLUTION:** Update the docs with latest screenshots and details explaining how all emails can be handled here. Also explaining per form email options that is introduced with Give 2.0.

[2018-01-15 21:33] mathetos opened #120 "[Give 2.0] Update Access Control"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/settings/general-settings/access-control/

**PROBLEM:**
There's a new setting called "Limit Donations Displayed". It seems simple, but it's a big change in how the donation history page works.

**SOLUTION:**
Add a section for "Limit Donations Displayed". Closely review this issue to understand it better, and incorporate an explanation of

[2018-01-15 22:36] mathetos opened #123 "NEW: Add "Settings > Licenses" documentation article"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/settings/licenses

**PROBLEM:**
This page doesn't currently exist

**SOLUTION:**
Create this page with the following format:

1. Intro to the Licenses tab
2. How Give Add-on Licensing works
3. Where to find your license keys
4. How to activate/deactivate your Add-on license key
5. How to manage your domains on the givewp.com website
6. F

[2018-01-15 22:40] mathetos opened #124 "UPDATE: Advanced Settings Page"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/settings/advanced/

**PROBLEM:**
It's outdated and incomplete.

**SOLUTION:**
1. Update settings language to match the actual plugin settings labels, i.e. "the_content filter" instead of "Disable the_content filter".
2. There's a stray hr, remove that
3. Add Akistmet SPAM Protection setting description.

[2018-01-15 22:52] mathetos opened #125 "UPDATE: Donors screen needs a screenshot and more detailed explanation"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/donors/

**PROBLEM:**
This screen lists all donors, it has 5 columns, and yet we don't have any screenshots or explanations for any of that.

It also has several sub-pages that are not in the right place at all.

**SOLUTION:**
- [x] Model the format of this page according to the existing Donations page Doc:
https://givewp.com/documentati

[2018-01-15 23:02] mathetos opened #127 "UPDATE: Create an Overview video for "Give Forms" Docs page"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/give-forms/

**PROBLEM:**
Forms are what our users interact with the most with Give. It's a very important screen, and it has a lot of options to understand. It would be very beneficial to have an overview video of the Form Edit screen here.

**SOLUTION:**
I'll create one with the script we've been working on. It should give a line-by-li

[2018-01-15 23:29] mathetos opened #129 "[Give 2.0] NEW: Add "Email Notifications" Page to the Give Forms section"
**URL:**
https://givewp.com/documentation/core/give-forms/email-notifications/

**PROBLEM:**
Give 2.0 now allows per form email customization. That was previously an Add-on, and the 2.0 implementation is actually much nicer. It means we have to do some screenshot updates and add a new page.

**SOLUTION:**
- [x] Update screenshots to the following pages. Just the form edit screenshot that shows all

[2018-01-15 23:53] mathetos opened #130 "[Give 2.0] UPDATE: Import Tab"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/tools/import/

**PROBLEM:**
Give 2.0 introduces a second Import type. We need to re-arrange this page and add a new one.

**SOLUTION:**
- [x] Move the content of this page, from the "Import Donations" heading down, to a new sub-page called "Import Donations".
- [x] Update the screenshot on this page
- [x] Move the Gravity Forms import ar

[2018-01-19 14:05] ravinderk opened #131 "[Give 2.0] "How to Add Custom Email Tags" deprecated"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/developers/how-to-add-custom-email-tags/

**PROBLEM:**
Email tags callback now has array as argument instead of payment_id for better flexibility.
https://github.com/WordImpress/Give/commit/8d52b463ef26dc796d0511d5bdaece4aa49a74e6#commitcomment-26964661

[2018-01-23 09:45] marutim opened #132 "UPDATE: Remove snippet details for making billing address required for paypal standard"
ISSUE CONTENT
**URL:** https://givewp.com/top-5-give-snippets-improve-donation-form/

**PROBLEM:**  Now that we have the option to enable and disable billing address for paypal standard.  Snippet for making billing address required does not apply anymore. Also this the github url links to 404

**SOLUTION:** Make necessary changes

[2018-01-25 15:05] ravinderk opened #133 "[Give 2.1] Add document for "Per Form Test Mode" setting"
https://github.com/WordImpress/Give/issues/2254

[2018-01-29 10:14] marutim opened #135 "UPDATE: Snippet in the doc to be compatible with Give 2.0+"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/developers/how-to-query-donor-information/

**PROBLEM:** Update the doc, esp the snippet to be compatible with Give 2.0+

[2018-02-01 10:32] marutim opened #136 "UPDATE: Snippet for custom currency formatting"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/developers/custom-currency-formatting/

**PROBLEM:** The snippet in here works for amount in the dashboard and not in the donation form in the front end.

**SOLUTION:** Update the snippet in this doc to be compatible with the latest Give 2.0+ release.

[2018-02-02 03:05] Sidsector9 opened #137 "UPDATE: "New Form" with "Add Form""
**URL:** https://givewp.com/documentation/core/give-101/
**PROBLEM:** Under **Forms**, it says "New Form" whereas in the plugin it is "Add Form". The instruction on the documentation differs from how it is implemented in the actual plugin.

[2018-02-02 03:08] Sidsector9 opened #138 "UPDATE: A typo under jQuery version"
**URL:** https://givewp.com/documentation/core/requirements/
**PROBLEM:** The doc says: "We understand that you may not know whether you _**not**_ your site". The word "not" is confusing.

[2018-02-02 03:09] mathetos commented on #137
Thanks @Sidsector9 Fixed!

[2018-02-02 03:09] #137 closed

[2018-02-02 03:10] Sidsector9 opened #139 "UPDATE: Improper grammar"
**URL: ** https://givewp.com/documentation/core/requirements/

**PROBLEM:** "if you update an Add-on without updating Give Core what will happen is that you’ll see ~a~ _**an**_ admin notification"
**SOLUTION:** Replace alphabet **a** with the word **an**

[2018-02-02 03:11] mathetos commented on #138
Good catch @Sidsector9 Fixed!

[2018-02-02 03:11] #138 closed

[2018-02-02 03:12] mathetos commented on #139
Yep, caught that while reviewing your other issue. Fixed. Thanks!

[2018-02-02 03:12] #139 closed

[2018-02-02 03:16] Sidsector9 opened #140 "UPDATE: Typo under Set Donation"
**URL:** https://givewp.com/documentation/core/give-forms/donation-options/
**PROBLEM:** Word "potential" is spelled as "potenential"

[2018-02-02 03:33] Sidsector9 opened #141 "UPDATE: Improper sentence under "Floating Labels""
**URL:** https://givewp.com/documentation/core/give-forms/form-display/
**PROBLEM:** "Floating labels allows places your form’s input labels to be inside the input"
**SOLUTION:** It should say one of the following:

- Floating labels allow~s~ ~places~ your form’s input labels to be inside the input
- Floating labels ~allows~ places your form’s input labels to be inside the input

[2018-02-02 07:41] DevinWalker commented on #133
See comments here why we're not pursuing this functionality at this time: https://github.com/WordImpress/Give/pull/2715

[2018-02-02 07:41] #133 closed

[2018-02-02 10:33] marutim commented on #140
Fixed. Thanks @Sidsector9

[2018-02-02 10:33] #140 closed

[2018-02-02 10:38] marutim commented on #141
Fixed Now. Thanks @Sidsector9

[2018-02-08 23:44] Benunc commented on #120
done.

[2018-02-08 23:44] #120 closed

[2018-02-14 14:34] ravinderk opened #142 "New: {meta_*} email tag"
## NECESSARY ITEMS
**User Story**
As a Give Admin, I want to understand how to add any donor, donation, or form meta to my confirmation emails. I currently see a link the admin which leads nowhere. So I don't have any other discoverable method of understanding this powerful feature.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Email Tags|*required* if its

[2018-02-15 16:45] samsmith89 opened #143 "UPDATE: Inaccurate instruction on Braintree setup doc"
**URL:**[https://givewp.com/documentation/add-ons/braintree-gateway/#attachment_1879](https://givewp.com/documentation/add-ons/braintree-gateway/#attachment_1879)

**PROBLEM:** The current doc states that to get the Merchant ID for the Braintree setup is to go to Settings > Processing and scroll to the bottom of the page. (This is located to the left of the search bar at the top of the dashboard.)

[2018-02-21 16:02] Benunc commented on #124
DONE.

[2018-02-21 16:02] #124 closed

[2018-02-21 16:49] Benunc commented on #125
Completed the first point here, today.

[2018-02-21 18:41] #143 closed

[2018-02-22 04:26] ravinderk opened #144 "[Give 2.0.5] New: exclude your sensitive addon setting from export"
**URL:** https://github.com/WordImpress/Give/issues/2716

**PROBLEM:** We have a feature in `Give` core to export plugin settings, but some add-ons like payment gateways have sensitive information which admin does not want to expose accidentally. We created a logic in `Give 2.0.5` to protect them from exporting.

**SOLUTION:** After `Give 2.0.5`, you can exclude you setting. For example:
[code]
fo

[2018-02-22 16:40] Benunc commented on #125
In working on this, I found that the Data tab doc needed a screenshot. https://givewp.com/documentation/core/tools/data/

I added that just now, as well as the new Managing Donors page.

@mathetos I am unable to delete existing docs, but the three docs on the last step of this are OK to be deleted, then this can be closed.

[2018-02-22 16:56] ravinderk opened #145 "web-doc(admin-setting): update Give Core > Payment Gateways"
## User Story

As a Give user, I want the `Enabled Gateways` documentation updated so that I understand how to customize payment gateways.

## Acceptance Criteria

- [x] I see an updated screenshot of the new `Enabled Gateways` UI in Give 2.1.
- [x] I understand how to customize gateway labels.
- [x] I understand how to enable/disable gateways.
- [x] I understand the meaning of `Default Gateway`.

[2018-02-22 16:56] mathetos commented on #125
@Benunc I removed the other pages, but I think I didn't make it explicit that the "Delete Donor" page does not currently exist. So that needs to be done before this issue can be closed out.

[2018-02-23 12:20] Benunc commented on #125
Done done.

[2018-02-23 12:20] #125 closed

[2018-02-26 16:25] Benunc commented on #118
Started on this today.

Made the parent document correct, and will add each type of email document tomorrow/later.

@mathetos if you want an updated call-out circle image (similar to the one on https://givewp.com/documentation/core/settings/general-settings/ for example) you need to create that image. I removed the no-longer-correct one.

[2018-02-27 15:51] Benunc commented on #118
Update for today: overhauled https://givewp.com/documentation/core/settings/emails/the-donation-receipt-email/

[2018-02-28 17:02] ravinderk opened #146 "New(cli): add documentation"
I did not fine Give CLI documentation on https://givewp.com/documentation/
Can we document it?

![image](https://user-images.githubusercontent.com/1784821/36801113-27b8434a-1cd7-11e8-91c8-2b6032b7a867.png)

[2018-02-28 17:54] kevinwhoffman commented on #146
There is a blog post on Give CLI but it should probably be documented. https://givewp.com/command-line-support-coming-give-version-1-7/

[2018-02-28 21:53] Benunc commented on #131
Have more users asking about this functionality. Is that snippet good to go, yet?

[2018-03-01 15:13] Benunc commented on #118
Update today: overhauled this one (two times, thanks to a cryptic http error!) https://givewp.com/documentation/core/settings/emails/new-donation-notification-email/

[2018-03-03 19:20] mathetos commented on #130
This was being held up by our desire to have a sample JSON file. We can do that separately for support purposes; for now, I created the new Give Settings Export sub-page so we can close this out.

[2018-03-03 19:20] #130 closed

[2018-03-03 20:00] mathetos commented on #129
I wrapped this up today. Thanks!

[2018-03-03 20:00] #129 closed

[2018-03-04 00:57] mathetos commented on #123
This is resolved here:
https://givewp.com/documentation/core/settings/licenses/

[2018-03-04 00:57] #123 closed

[2018-03-04 01:20] mathetos commented on #101
This is resolved. See the Give Export Settings info here:
https://givewp.com/documentation/core/tools/exports-tab/

And the Import Settings tool here:
https://givewp.com/documentation/core/tools/import/import-give-settings/

[2018-03-04 01:20] #101 closed

[2018-03-05 03:34] ravinderk opened #147 "Update: recurring addon screenshots"
ISSUE CONTENT
@mathetos I think recurring addon screenshot deprecated. Please review them.

https://givewp.com/addons/recurring-donations/

[2018-03-05 13:46] michelleames opened #148 "UPDATE: Email Report Settings Have Changed"
**URL:** https://givewp.com/documentation/add-ons/email-reports/

**PROBLEM:** The settings screen is located in your WP-Admin under Donations > Settings > Emails > Email Reports. (This is no longer accurate.)

**SOLUTION:**

The settings screen is located in your WP-Admin under Donations > Settings > Emails.

Located the "Daily Email Report," "Weekly Email Report," or "Monthly Email Report" in th

[2018-03-05 14:59] mathetos commented on #148
I believe we already have an issue on this @michelleames that @benunc is addressing this morning

[2018-03-05 15:00] Benunc commented on #148
This is add-on doc related, and It's not on an issue currently.

[2018-03-05 15:21] Benunc commented on #118
Just finished https://givewp.com/documentation/core/settings/emails/new-offline-donation/
Currently working (will finish today) Offline Donation Instructions.

@samsmith89 work on:
New Donor Registration
Donor Registration

@marutim work on:
Email Access.

Note how the ones I have been working on are formatted. Make sure that the page has an `<h2>` and an `<h3>` for accessibility. Follow the forma

[2018-03-05 15:37] Benunc commented on #118
Done with https://givewp.com/documentation/core/settings/emails/offline-donation-instructions/

Be sure when you create the docs above to make their parent doc Give Core > Emails and set the order appropriately (counting starts at 0). See the docs I just created for reference.

[2018-03-05 19:23] marutim commented on #118
Done and published. Link: https://givewp.com/documentation/core/settings/emails/email-access/

Added the parent doc and order accordingly.

Can someone check the content here, especially the one where Give defaults the content to Site name, Site URL or Admin email? There is no email tag in the email content and hence used square brackets to denote the same differently than the email tags. Please r

[2018-03-05 22:33] mathetos commented on #148
Thanks @Benunc I read too quickly.

@michelleames I updated the doc. If you want to review it and make additional tweaks I'm all for it. Just update us here and close out the issue once you're done. Thanks!

[2018-03-06 09:22] marutim opened #149 "UPDATE: Path to display custom taxonomies"
**URL:** https://givewp.com/using-categories-tags-give/

**PROBLEM:** Currently it says "navigate to Donations > Settings > Display Options and enable them by checking the boxes and saving the settings."

**SOLUTION:** Rather it should say "navigate to Donations > Settings > Display Options > **Taxonomies** and enable them by checking the boxes and saving the settings."

[2018-03-06 09:23] marutim commented on #149
@Benunc I don't have access to edit this page so assigned it to you.

[2018-03-06 14:44] samsmith89 commented on #118
Done and published with:

https://givewp.com/documentation/core/settings/emails/new-user-registration/

https://givewp.com/documentation/core/settings/emails/user-registration-information/

[2018-03-07 13:51] ravinderk commented on #146
@WordImpress/support note this change https://github.com/WordImpress/Give/issues/2845

[2018-03-07 20:10] mathetos commented on #146
@Benunc Since you've been getting into WP CLI I think it'd be great for you to spend some time getting to know Give CLI and putting together an outline for this doc.

[2018-03-07 20:13] Benunc commented on #146
Absolutely. I also want to put together a Give CLI wishlist. how cool would it be to be able to troubleshoot everything from the command line?

[2018-03-07 21:05] DevinWalker commented on #146
@Benunc troubleshooting via command line is likely not going to be a possibility.  This is because customer's servers would have to be running WP-CLI because the Give CLI is built upon it. Only some of the managed hosts provide WP-CLI. Then you would need ssh access to the server, which is difficult in it's own right for some hosts because many require SSH keys and some don't even allow it.

[2018-03-07 21:27] Benunc commented on #146
well, once I get a customer's site spun up locally, I can troubleshoot it with CLI. That's the main way I use WP_CLI at this point.

[2018-03-08 12:55] samsmith89 commented on #111
I have added this section to the docs at:
https://givewp.com/documentation/add-ons/stripe-gateway/

[2018-03-09 17:47] mathetos commented on #111
@samsmith89 Thanks for doing this. Just one minor issue. Please make sure every image that we place in the article has a caption and NOT Alt Text. The new screenshot currently is missing a caption. The caption should be descriptive of what is on the screen, think of blind visitors when creating captions. It should be descriptive but not lengthy. Thanks!

[2018-03-09 18:21] Benunc commented on #111
wait... Alt text is for vision impaired folks, not the caption. at least thats how I've been doing it.

[2018-03-09 18:25] mathetos commented on #111
@Benunc See Slack convo here:
https://givewp.slack.com/archives/C5YD5PQ3Z/p1504910310000179

[code]

[2018-03-09 18:44] marutim commented on #132
@mathetos I do not have access to edit this article and from the comments above it seems @Benunc  has neither. So assigning it to you.

[2018-03-09 19:48] samsmith89 commented on #111
Caption updated. Modified all duplicate Caption/Alt tags and filled out the empty ones.

[2018-03-09 19:48] #111 closed

[2018-03-11 07:12] Sidsector9 opened #150 "UPDATE: Type on Give's API documentation page"
ISSUE CONTENT
**URL:** https://givewp.com/documentation/developers/give-api-reference/

**PROBLEM:** Statement reads - "Did you know that Give comes packaged with a powerful API that allows **_your_** to expose donation data in either JSON."

**SOLUTION:** Change "your" to "you"

[2018-03-11 08:07] kevinwhoffman commented on #150
Fixed. Thanks @Sidsector9.

[2018-03-11 08:07] #150 closed

[2018-03-12 11:19] samsmith89 commented on #109
Added in the 2 fields. Went through all of the images and removed duplicate Caption/Alt tags.

[2018-03-12 11:19] #109 closed

[2018-03-13 17:54] marutim commented on #147
@mathetos I do not have access to edit this page https://givewp.com/addons/recurring-donations/ so instead, I am going through all the documentation for recurring donation and checking for outdated content or screenshots.

[2018-03-14 09:15] Sidsector9 opened #151 "UPDATE: Typo on Give's frequent troubleshooting page"
ISSUE CONTENT
**URL**: https://givewp.com/documentation/core/frequent-troubleshooting-issues/admin-ajax-blocked/

**PROBLEM**: Statement reads - " Give cannot access it then you may see **an** notice or experience various errors."

**SOLUTION**: Change "an" to "a"

[2018-03-14 09:22] marutim commented on #151
Thanks for reporting that @Sidsector9. Fixed now :)

[2018-03-14 09:22] #151 closed

[2018-03-15 13:26] #118 closed

[2018-03-20 05:02] mathetos commented on #75
@Benunc I just assigned this to you and am re-opening. We never published this doc. It should be made live here:
https://givewp.com/documentation/add-ons/authorize-net-gateway/testing

[2018-03-20 05:15] mathetos commented on #75
Testing Slack Github integration for duplicate notifications

[2018-03-20 05:17] mathetos commented on #75
One more test...

[2018-03-20 05:20] mathetos commented on #75
Last test... really.

[2018-03-23 14:36] Benunc commented on #75
done https://givewp.com/documentation/add-ons/authorize-net-gateway/testing-authorize-net/

[2018-03-23 14:36] #75 closed

[2018-03-23 17:48] kevinwhoffman opened #152 "web-doc(shortcode): Add new [give_totals] doc for Give 2.1.0 release"
**URL:** https://givewp.com/documentation/core/shortcodes/give_totals/

**PROBLEM:** There is a new `[give_totals]` shortcode releasing in Give 2.1.0 with no documentation.

**SOLUTION:** Document the shortcode and its attributes, with a screenshot of the shortcode generator.

- Original issue: https://github.com/WordImpress/Give/issues/1472
- Code: The new shortcode has been merged to the 2.1.0 b

[2018-03-26 11:56] marutim commented on #147
Reviewed the following docs:
https://givewp.com/documentation/add-ons/recurring-donations/recurring-emails/
https://givewp.com/documentation/add-ons/recurring-donations/managing-subscriptions/
https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/

Will continue with the rest tomorrow

[2018-03-26 12:48] Benunc commented on #105
I don't have edit capability for EDD products. assigning to @mathetos

[2018-03-26 12:57] #141 closed

[2018-03-27 01:28] ravinderk opened #153 "NEW: Add Give Cache setting doc for Give 2.1.0 release"
PROBLEM: There is a new `Give Cache` admin setting is releasing in `Give` 2.1.0 with no documentation.

SOLUTION: Document the admin setting.
https://github.com/WordImpress/Give/issues/2719

[2018-03-27 01:31] ravinderk opened #154 "NEW: Add Sequential Ordering feature doc for Give 2.1.0 release"
SOLUTION: Document sequential ordering feature..

Original issue: https://github.com/WordImpress/Give/issues/244

[2018-03-27 11:07] marutim commented on #147
Reviewed res of the docs
https://givewp.com/documentation/add-ons/recurring-donations/renewal-donation-reports/
https://givewp.com/documentation/add-ons/recurring-donations/subscription-transaction-statuses/
https://givewp.com/documentation/add-ons/recurring-donations/faq/
https://givewp.com/documentation/add-ons/recurring-donations/testing-recurring/

Assigning it to Matt for review.

[2018-03-27 14:26] Benunc commented on #85
not sure why I reopened this. closing.

[2018-03-27 14:26] #85 closed

[2018-03-27 18:42] mathetos commented on #147
Looks good @marutim THanks!

[2018-03-27 18:42] #147 closed

[2018-03-27 19:17] mathetos opened #155 "NEW: Donation Form Grid"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/shortcodes/give_form_grid

**PROBLEM:**
This is a new feature in Give 2.1 and it is not yet documented.

**SOLUTION:**
- [x] Create the doc at the URL above.
- [x] Make sure that doc describes each attribute of the shortcode following the format used on this page:
- [x] Include a screenshot of the shortcode builder using this shortcode

[2018-03-27 19:23] mathetos opened #156 "web-doc: add `[give_donor_wall]` shortcode doc"
ISSUE CONTENT
**URL:**
https://givewp.com/documentation/core/shortcodes/give_donor_wall

**PROBLEM:**
This is a new feature being introduce into Give 2.2.0 and is currently not documented.

**SOLUTION:**
- [x] Create the doc at the URL above
- [x] Make sure every attribute of the shortcode is explained in the format shown in this existing doc:
- [x] Include a screenshot of the shortcode builder im

[2018-03-28 14:20] Benunc commented on #9
This is done.

[2018-03-28 14:20] #9 closed

[2018-03-29 21:43] kevinwhoffman opened #157 "UPDATE: Move CSV Toolbox docs to Give core Export docs"
**URL:**
https://givewp.com/documentation/core/tools/exports-tab/
https://givewp.com/documentation/add-ons/form-field-manager/give-csv-toolbox/

**PROBLEM:** CSV Toolbox is being merged into Give core in version 2.1.0. It will be accessible from the Tools > Export tab. It will be the default UI for exporting Donation History–making it much more powerful than our existing Donation History export.

[2018-04-04 11:16] marutim commented on #114
Did some screening and could only find a relevant screenshot that needed to be changed here: https://givewp.com/documentation/core/donations/

Will continue looking through other docs tomorrow

[2018-04-04 19:54] samsmith89 commented on #131
Confirmed that the snippet is functioning in local.
Updated the snippet.
Updated screenshot.
Updated note.

[2018-04-04 19:54] #131 closed

[2018-04-05 03:18] ravinderk opened #158 "New: add doc to guide developers to which will explain how to edit donor profile page with hooks"
**URL:** https://wordpress.org/support/topic/how-to-add-field-to-donor-profile/#post-10148255

**PROBLEM:**  There is no doc which will guide developer to how to edit donor profile page.

[2018-04-05 11:28] marutim commented on #114
I screened through a lot of docs today and do not see where we can make any more changes. So assigning this to @mathetos for review.

[2018-04-06 16:07] mathetos commented on #114
Good work Maruti. Closed!

[2018-04-06 16:07] #114 closed

[2018-04-09 11:29] Benunc commented on #146
began work on this today.
https://givewp.com/wp-admin/post.php?post=260441&action=edit

[2018-04-09 16:55] mathetos commented on #146
Good start @Benunc -- let's use the Public Preview links going forward (I edited your comment with that for now)

[2018-04-12 09:50] ravinderk opened #159 "web-doc(admin-form): add NEW docs for "Goal Statistics" form metabox"
**URL:**
https://github.com/WordImpress/Give/issues/3027
https://github.com/WordImpress/Give/pull/3022#issuecomment-380706042

[2018-04-17 09:14] Sidsector9 opened #160 "UPDATE: Typo on Give Recurring Docs"
ALL ISSUES SHOULD FOLLOW THIS FORMAT:

ISSUE CONTENT
**URL:** https://givewp.com/documentation/add-ons/recurring-donations/getting-started/

**PROBLEM:**  Card data is never **store** on your site.

**SOLUTION:** It should be **stored**.

[2018-04-17 09:19] Sidsector9 opened #161 "UPDATE: Typo on Give Recurring Documentation"
**URL:** https://givewp.com/documentation/add-ons/recurring-donations/recurring-emails/

**PROBLEM:** It says "notify your donors when their subscriptions renewed".

**SOLUTION:** It should be "notify your donors when their subscriptions **renew**" OR "notify your donors when their subscriptions **are** renewed"

[2018-04-17 10:38] marutim commented on #160
good catch @Sidsector9. This is fixed now

[2018-04-17 10:38] #160 closed

[2018-04-17 10:48] marutim commented on #161
Thanks @Sidsector9.

[2018-04-17 10:48] #161 closed

[2018-04-17 13:54] Benunc commented on #149
Done!

[2018-04-17 13:54] #149 closed

[2018-04-17 15:34] Benunc commented on #146
More work on this today. here's the link for me to get right back to this tomorrow: https://givewp.com/wp-admin/post.php?post=260441&action=edit

[2018-04-18 12:41] samsmith89 commented on #152
Saved as Draft and ready for 2.1 release
https://givewp.com/documentation/core/shortcodes/give_totals/

[2018-04-18 12:45] Benunc commented on #146
@ravinderk @Sidsector9 for the `wp give reports --start-date` parameter, what format should i use for the date? I used 01012018 for January 01 2018, and it isn't working. Trying to figure out what I'm doing wrong here.

[2018-04-18 13:59] Benunc commented on #146
Other than the above clarification from the team, this doc is ready to ship. @mathetos let's interface on the content of the video for this one. Other than that, it's ready to go.

[2018-04-18 18:36] mathetos commented on #148
Closing for now.

[2018-04-18 22:33] mathetos commented on #152
@Benunc Please review the draft as soon as you can. Let's close when it's published.

[2018-04-19 10:56] marutim commented on #153
Worked on this on a Google doc here: https://docs.google.com/document/d/1wbWp712_HgVSwzApaErUZY3ZP-3yIbVq2RhW48IikWc/

@mathetos You can review it now.

[2018-04-19 18:35] mathetos commented on #153
@marutim I made minor tweaks/additions. When we launch 2.1 this content will be added to this existing doc:
https://givewp.com/documentation/core/settings/advanced/

Just make sure it's in the right place within that doc based on how it appears in the plugin itself.

[2018-04-19 22:33] mathetos commented on #159
@Benunc I think in the end it would be better to integrate this content into the main "Donation Goal" doc that you made this one a child of. So, do the following:

- [ ] Add a new section at the bottom of [this doc](https://givewp.com/documentation/core/give-forms/donation-goal/) called "Goal Tracking"
- [ ] Add that content into that section
- [ ] Update the screenshot on [this doc](https://givew

[2018-04-19 22:49] mathetos commented on #145
@samsmith89 Since this one is 100% about updating an existing doc, schedule to do the update on Tuesday next week, and just comment here when you publish the update and I'll review.

[2018-04-20 03:59] ravinderk commented on #146
![image](https://user-images.githubusercontent.com/1784821/39030053-fe98b90e-447c-11e8-95cb-ecfe53859f20.png)

@Benunc We already have dummy queries in the example. If you only enter `--start-date` then you will date donation stats only for that day, so be specific about what are you entering in `--start-date` and `--end-date`

commit: https://github.com/WordImpress/Give/compare/43f89ead7d00...7ca

[2018-04-20 08:16] marutim commented on #153
OKay Matt

[2018-04-20 09:28] marutim commented on #144
Started Doc: https://docs.google.com/document/d/1Fq5MZuS6MoLVWLQ2FOc7xfBuT_jlN0NxEts-Zyv21_M

[2018-04-20 12:33] samsmith89 commented on #155
Ready for review.

[2018-04-20 12:52] samsmith89 commented on #145
@mathetos This has been updated and is scheduled to post next Tuesday.

[2018-04-23 10:49] Benunc commented on #159
I tried this morning to make changes but not publish them on the Donation Goal doc. I'm not able to do that. It's either publish them now or don't make changes, with no way to "schedule changes."

To that end, here's the entirety of that editor's box content, ready to cut/paste into it when publish time comes:
[code]
@mathetos The Donations screen you've linked to doesn't have a column for "Goal"

[2018-04-23 14:40] mathetos commented on #159
Hmmm... I saw a screenshot in a PR of the Goal having a column in the Donations screen. Let's roll with this for now. Thanks Ben!

[2018-04-23 20:57] samsmith89 commented on #145
Need to redo this doc. Lost changes in the site.

[2018-04-23 20:59] samsmith89 commented on #157
When testing this feature in 2.1 I was unable to make the Form Field Manager custom fields display.

[2018-04-23 23:41] mathetos commented on #155
Here's the link:
https://givewp.com/?post_type=documentation&p=257545&preview=true

[2018-04-24 15:53] mathetos commented on #157
Here's @samsmith89 s draft doc:
https://docs.google.com/document/d/1dH1nT_T2T6Wx8C7tq2BeKOb7zG5HH7HFgcdDuhaziW8/edit

[2018-04-25 00:29] mathetos commented on #142
@Benunc Can you review this doc please? Make necessary edits, and close when done. Thanks!

[2018-04-25 00:50] mathetos commented on #154
@Benunc Please review/edit this new doc:
https://givewp.com/documentation/core/settings/general-settings/sequential-ordering/

Make necessary changes and close this issue when done. Thanks!

[2018-04-25 00:52] mathetos commented on #145
Here's Sam's doc for publishing:
https://docs.google.com/document/d/1dH1nT_T2T6Wx8C7tq2BeKOb7zG5HH7HFgcdDuhaziW8/edit

[2018-04-25 12:11] samsmith89 commented on #145
Changes Published:
https://givewp.com/documentation/core/payment-gateways/

[2018-04-25 12:16] samsmith89 commented on #152
Published at:
https://givewp.com/documentation/core/shortcodes/give_totals/

[2018-04-25 12:36] Benunc commented on #142
Fantastic. I'm so pumped about this doc, and this feature.

[2018-04-25 12:36] #142 closed

[2018-04-25 12:54] Benunc commented on #154
@mathetos the only thing I see on this one is the call-out circle image that exists on other pages (like currency settings here: https://givewp.com/documentation/core/settings/general-settings/currency-settings/ )

I don't know how you create those images.

Other than that, this issue is done. If you want to add that image, please do and close. Otherwise, just close.

[2018-04-25 12:57] Benunc commented on #159
published.

[2018-04-25 12:57] #159 closed

[2018-04-25 13:25] #152 closed

[2018-04-25 13:25] #145 closed

[2018-04-25 13:26] mathetos commented on #153
Looks great, thanks!

[2018-04-25 13:26] #153 closed

[2018-04-25 13:36] samsmith89 commented on #157
Changes are published:
https://givewp.com/documentation/core/tools/exports-tab/

[2018-04-25 14:03] #157 closed

[2018-04-25 14:58] Benunc commented on #146
Updated the doc with the insight from Ravinder above and this issue is DONE.

[2018-04-25 14:58] #146 closed

[2018-04-26 11:30] marutim commented on #144
I completed the doc.

@mathetos Please review and let me know where can we publish it.

[2018-05-02 05:08] kevinwhoffman opened #162 "web-doc(shortcode): update [give_form_grid] doc"
## User Story

As an author, I want to see an up-to-date version of the `[give_form_grid]` shortcode generator so that the documentation matches what I see on screen.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/core/shortcodes/give_form_grid/|*required*|

## Assets

Development in progress in https://github.com/WordImpr

[2018-05-02 13:55] Benunc commented on #155
@samsmith89 can you ensure that the new issue #162 is addressed for this doc? closing this in favor of that.

[2018-05-02 13:55] #155 closed

[2018-05-03 06:07] kevinwhoffman opened #163 "web-doc: update recommended method to apply custom CSS"
**User Story**

As a developer who wants to customize Give styles, I want to know the modern approach to add custom CSS in WordPress so that it does not get lost in future updates.

The existing doc contains outdated recommendations of third-party plugins that may not be necessary since the Customizer now supports Additional CSS.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|-

[2018-05-03 06:41] raftaar1191 opened #164 "web-doc: update hooks for creating custom fields"
User Story
As a developer who wants to add custom fields in Donation forms s/he is not able to see the donation details that he has updated in the Donation Details page

The existing doc contains outdated hooks need to update that

Doc Link: https://givewp.com/documentation/developers/how-to-create-custom-form-fields/

![image](https://user-images.githubusercontent.com/22215595/39562768-1725d3f0-4

[2018-05-03 12:26] samsmith89 commented on #106
I have been updating this information to be put into
https://givewp.com/documentation/core/tools/import/import-donations/
The changes are live.

Do I also need to update this page or can it be removed once the /import-donations/ page is updated to reflect the importing of forms?

Since this ability lives in the importer should it just be highlighted there?

It may also be beneficial to let the don

[2018-05-03 20:55] mathetos commented on #163
Thanks @kevinwhoffman This has been in the back of my mind for over a year -- I needed this kick in the pants. It's been basically re-written now and updated. Thanks!

[2018-05-03 20:55] #163 closed

[2018-05-03 23:16] mathetos commented on #105
Thanks @mehul0810 -- updated all screenshots and added a section on support for recurring donations as well.

[2018-05-03 23:16] #105 closed

[2018-05-04 12:26] samsmith89 commented on #162
Updated the Doc with the necessary additions.

[2018-05-04 13:19] Benunc commented on #162
Great work. Closing.

[2018-05-04 13:19] #162 closed

[2018-05-07 17:47] mathetos opened #165 "web-doc: (EPIC) update stripe docs to reflect all new 2.0+ features"
## Necessary Items
**User Story**
As a Give user, I want the Give Stripe docs to help me better understand all the options and features available in the Give Stripe Addon so that I can choose what is best for my donation forms.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Stripe Gateways|existing|
|**Current Url:**|`https://givewp.com/documentation/add-on

[2018-05-08 12:05] marutim commented on #158
Doc started here: https://docs.google.com/document/d/1I-mDWZHUn-K-DWFyIHafvE9rw43IUVvs-2nrKnx0-3o

[2018-05-08 14:57] Benunc opened #166 "web-doc(devs): update custom fields docs"
**User Story**
From Scott:

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/developers/how-to-create-custom-form-fields/|*required*|

## Related Give Core/Add-on issues
https://github.com/WordImpress/Give-Snippet-Library/issues/73

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] The doc uses the updated

[2018-05-10 12:34] samsmith89 opened #167 "web-doc(give-authorize): Explain process of setting up eCheck"
## Necessary Items
**User Story**
Describe what the user wants in regard to this doc in these terms:
As a site admin, I want to know how to set up eCheck so that I don't have to go searching through Authorize.net for basic information.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/add-ons/authorize-net-gateway/|*required*

[2018-05-15 11:00] marutim opened #168 "web-doc: Update the current supported gateways details for recurring"
**User Story**
Update the current supported gateways details for recurring donations here https://givewp.com/addons/recurring-donations/

It says that Stripe + Plaid ACH does not support recurring yet, whereas the latest release supports it

## Assets
![image](https://user-images.githubusercontent.com/3498917/40052977-3a94ed1c-585d-11e8-91ad-4c52409c2d52.png)

## Acceptance Criteria
We just need t

[2018-05-15 11:05] mehul0810 commented on #168
More details for Stripe add-on,
✅ Stripe CC - supports recurring
✅ Stripe + Plaid - supports recurring
❌ iDEAL - not yet support recurring

[2018-05-17 06:47] mehul0810 opened #169 "webdoc(stripe): add a doc explaining about how to match the theme styling for stripe cc fields"
## Necessary Items
**User Story**
As a user, I want the Stripe CC fields based on the theme styling so that it looks consistent throughout the theme.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|How to create styles for Stripe CC fields to match theme styling?
|**Current Url:**|https://givewp.com/documentation/resources/styling-give-forms-pages/all-css-st

[2018-05-18 12:15] samsmith89 opened #170 "web-doc(razorpay): Update screenshots of dashboard in Razorpay"
## Necessary Items
As a site admin, I want the screenshot of the dashboard to be accurate so that I know where to find my API keys.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**https://givewp.com/documentation/add-ons/razorpay-gateway/

## Assets
![razorpay-dashboard](https://user-images.githubusercontent.com/20672471/40234036-33662494-5a73-11e8-8d5d-42b

[2018-05-24 05:01] ravinderk opened #171 "[Give 2.2.0] Update: payment meta table related docs"
## Description
To prevent conflict with Restrict Content Pro plugin we renamed payment meta table. Maybe we mentioned table somewhere in the doc (code snippet )., so It will good we scan our docs and update them.

**Issue Link:** https://github.com/WordImpress/Give/issues/2710#issuecomment-377852730

[2018-05-24 20:09] samsmith89 commented on #57
This Doc is blocked by this issue:
https://github.com/WordImpress/Give-Recurring-Donations/issues/638

[2018-05-25 12:42] samsmith89 commented on #170
This issue finished and live.
Removed duplicate instances of Alt and Caption text.

[2018-06-01 12:16] samsmith89 commented on #167
**Content of the Doc:**

<h3>Authorize eCheck ACH payments</h3>

Give allows your donors to make their donations using Authorize.net eCheck. eCheck is an ACH transaction that takes the donor's bank account information to process the transaction. This account comes with a lower per-transaction fee, but you need to be aware of some additional items in order to get set up.

First, we are going to nee

[2018-06-01 22:32] mathetos commented on #167
Great work @samsmith89 I published this here:
https://givewp.com/documentation/add-ons/authorize-net-gateway/configuring-echeck/

[2018-06-01 22:32] #167 closed

[2018-06-04 12:46] samsmith89 opened #172 "web-doc(admin-gateway): Add new doc explaining caching and caching configuration"
**User Story**
As a site admin, I want a reference for how and why caching can be problematic for webhooks and dynamically loaded content. This is so I can have an understanding of why configuring my cache settings can solve my issues.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|How caching can be problematic and how configuring it can solve your issues.

[2018-06-05 04:32] mehul0810 commented on #169
@mathetos
I've collected all the filters which can help in theme styling and language management.

**Load fonts for Stripe Elements CC fields**
[code]
**Try to match theme styling using the filter below. You can use the same parameters with the filters:**
1. `give_stripe_get_element_base_styles`  - all other variants inherit from this style
2. `give_stripe_get_element_complete_styles` - applied wh

[2018-06-05 17:55] Benunc opened #173 "web-doc(updates): create how to update Give core and add-ons doc."
**User Story**
Describe what the user wants in regard to this doc in these terms:
As a `Give-admin`, I want `clear instructions on updating Give and add-ons` so that `my site updates work correctly`.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|How To Update Give|*required* if its a new doc|
|**New Url:**|https://givewp.com/documentation/resources/how-to-

[2018-06-07 04:38] mathetos opened #174 "web-doc(updates): Write Doc on Troubleshooting DB Update issues."
## Necessary Items
**User Story**
Describe what the user wants in regard to this doc in these terms:
As a `Give user`, I want to know what I can do whenever I run a DB update and a problem happens. A simple doc that walks through common reasons why DB updates sometimes fail and what I can do about it myself can save me from having to request Priority Support, or at least I can say that I've done a

[2018-06-12 18:40] marutim opened #175 "web-doc: update setting default gateway per form"
## Necessary Items
**User Story**
User has been following this doc which confuses regarding the position of the "Default gateway" option per form.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/addons/per-form-gateways/|*required*|

## Assets
![edit donation form wp give wordpress](https://user-images.githubusercontent.com/3498917/41309

[2018-06-13 12:45] samsmith89 opened #176 "web-doc(gateway): create doc for Stripe + Plaid ACH setup"
## Necessary Items
**User Story**
As a site admin, I want to know how to set up Stripe + Plaid ACH so that I can accept ACH payments.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Setting up Stripe + Plaid ACH|
|**New Url:**|https://givewp.com/documentation/add-ons/stripe-gateway/plaid-setup|
|**Google Docs URL**|https://docs.google.com/document/d/1dH1nT_T

[2018-06-14 18:43] mathetos commented on #174
The doc has been published. Great work @Benunc
https://givewp.com/documentation/core/frequent-troubleshooting-issues/handling-database-update-issues/

[2018-06-14 18:43] #174 closed

[2018-06-19 19:06] mathetos opened #177 "web-doc(woocommerce): Add new doc about customizing the Upsell via template files"
## Necessary Items
**User Story**
As a Give developer I want to understand how I can modify the markup of the Upsell area via my template files.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Customizing the Upsell forms Markup
|*required*|
|**New Url:**|https://givewp.com/documentation/add-ons/donation-upsells-for-woocommerce/customizing-upsell-forms-marku

[2018-06-20 05:05] kevinwhoffman opened #178 "web-doc(admin-email): update Email Notifications doc with new tags"
**User Story**
As a user, I want to be aware of the following email tags coming to Give 2.2.0 so that I understand where they are defined and used.

1. `{admin_email}`
2. `{offline_mailing_address}`
3. `{site_url}`

These three tags will provide a major convenience to developers who migrate sites from dev to production since they will only have to update this information in one place as opposed to

[2018-06-20 16:14] Benunc commented on #169
@mathetos we have a user asking for how to style Stripe. I don't think it's a solid option to send the above snippets to anyone less dev-savvy than me. CSS is a forgiving language where if they put a semicolon in wrong, it doesn't whitescreen their site. This PHP snippet with arrays and nested arrays is going to break sites. Is this still our only option for styling Stripe fields?

[2018-06-20 16:45] kevinwhoffman commented on #169
@Benunc Stripe Elements exist within an iframe, which cannot inherit styling from the parent page (in this case, the WordPress website). That means we can't simply add CSS with the usual approach through the Customizer or theme stylesheet. The filters above feed CSS into the iframe when it is generated so it is available to style the Stripe Elements. That CSS ends up in the iframe itself rather th

[2018-06-26 20:26] samsmith89 opened #179 "web-doc(gift-aid): show users {meta_donation__give_gift_aid_accept_term_condition} will display whether donor selected gift aid"
## ISSUE TITLE:

## Necessary Items
**User Story**
As a site admin, I want to know how to pass information from about whether the donor opted-in to Gift Aid in the New Donation admin email so that we can manage those donations from emails.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/add-ons/gift-aid/general-settings/|*r

[2018-06-27 18:42] marutim commented on #178
Link to the doc: https://docs.google.com/document/d/1A19mxydYBlPpp-fS9eL4vFhSWKCe-85Q6zybUFc-F6w

@mathetos Can you review and let me know if this is okay or should I add more details to this.

I followed the explanation of email tags in this page here: https://givewp.com/documentation/core/give-forms/email-notifications/

[2018-06-29 12:29] marutim opened #180 "web-doc(give_form_grid): Fix the typos"
## Necessary Items
**User Story**
This doc has couple of typos that I have highlighted in the screenshots below.

**Doc Details**

|**Current Url:**|https://givewp.com/documentation/core/shortcodes/give_form_grid/|

## Assets
![image](https://user-images.githubusercontent.com/3498917/42092091-4f74c014-7bc5-11e8-943a-3c69de0a964c.png)
![image](https://user-images.githubusercontent.com/3498917/42092

[2018-06-29 13:41] telizarose commented on #180
Updated. Thanks!

[2018-06-29 13:41] #180 closed

[2018-07-02 20:45] mathetos commented on #169
@mehul0810 I've tested the snippets you've provided above fairly extensively and they do not seem to work as intended yet.

Here's a live site where the Stripe fields are output:
http://php7.mattcromwell.com/donations/donors-choice-period-demo/

Here's the snippets I'm using, the only changes I made were to make the different in the fields MORE obvious if it was working:

[code]

Please test and c

[2018-07-03 12:12] #106 closed

[2018-07-03 12:12] #170 closed

[2018-07-03 12:42] samsmith89 commented on #179
**Here is the content that will be added to the page:**

Now let’s say you want to let your team know whether or not a donor opted-in to Gift Aid. This can be accomplished by marking whether this took place in the <a>New Donation</a> email that is sent to the listed email addresses when a donation is made.

The template tag that we will use is {meta_donation__give_gift_aid_accept_term_condition}

[2018-07-03 15:13] Benunc commented on #179
add the edits discussed in Slack and ping me again, and I'll take a look.

[2018-07-03 15:30] mehul0810 commented on #169
@mathetos I've investigated more into this Stripe CC fields styling issue and had some minor changes to the snippets. Also, Please check the video https://drive.google.com/open?id=1aotd4g1vf-LhvfrgO6ZUv1tFOFgi6KAY

## Snippets
[code]

## Suggestions
The process of filters for Stripe CC fields styling seems more complex and technical to me for end users. If we can come up with separate add-on or st

[2018-07-04 04:59] kevinwhoffman commented on #169
@Benunc @mehul0810 We discussed on our dev team call about how this is going to be an ongoing issue that needs a better solution that filters. We have a couple of ideas in mind including a settings page that would allow the user to set some of the properties like height, border, padding, etc.

Before we go too far into that conversation, we'd like to get a better understanding of the specific issu

[2018-07-04 12:05] marutim opened #181 "web-doc(recurring-emails): Update the doc to include all the recurring mails"
## Necessary Items
**User Story**
As a user, I would like the doc to include all the recurring email details. At the moment it only includes details about renewal receipt and subscription canceled emails.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/add-ons/recurring-donations/recurring-emails/|*required*|

## Acceptance

[2018-07-05 12:06] marutim opened #182 "web-doc: update info about the unavailability of 3D secure cards"
## Necessary Items
**User Story**
Update the doc to include the info about the unavailability of 3D secure cards for stripe checkout.

Since the fixing of the bug https://github.com/WordImpress/Give-Stripe/issues/266, Mehul informed me that fix was to revert back to token for stripe checkout which means it will not support Stripe 3D cards.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|

[2018-07-05 15:29] mehul0810 commented on #182
3D secure payments will not work for Stripe Checkout as per the screenshot below:
![image](https://user-images.githubusercontent.com/1852711/42332388-72ed6eea-8095-11e8-99b8-79b2cbf0e670.png)

However, Stripe CC fields will support 3D secure payments same as earlier. There is an open issue https://github.com/WordImpress/Give-Recurring-Donations/issues/678 related to 3D secure payment with Stripe C

[2018-07-12 00:18] Benunc commented on #165
Today I published this doc (edits welcomed) https://givewp.com/documentation/add-ons/stripe-gateway/stripe-apple-pay-google-pay/

[2018-07-17 11:28] ravinderk opened #183 "web-doc(terms&condition): update terms and condition feature docs"
In Give 2.2.0, we updated terms label to accept HTML in form and global setting.

ref: https://github.com/WordImpress/Give/issues/3225

[2018-07-19 12:37] marutim opened #184 "web-doc(import-export): Update the doc about importing and exporting Give forms"
**User Story**
As a user, I should have the doc which speaks about how to use the Give export and import tools.

The one we have currently is old and has information prior to the import functionality that Give has right now.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/core/give-forms/importing-and-exporting-forms/|*requ

[2018-07-20 10:08] mathetos opened #185 "web-doc(give-core): Add doc about restoring your site when a plugin whitescreens your site"
## Necessary Items
**User Story**
As a Give user I want to rely on the Give team to provide me with solutions, particularly ones that occur when a Give Addon whitescreens my site. I don't want to have to read a tutorial somewhere else.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|How to Deactivate WordPress plugins when you can't access your site. |*requi

[2018-07-25 14:20] Benunc commented on #183
Added a line to the doc explaining that functionality: https://givewp.com/documentation/core/settings/display-options/terms-and-conditions/

[2018-07-25 14:21] #183 closed

[2018-07-25 14:38] Benunc commented on #178
I modified @marutim's content, simplified it, added it to the doc, and published. This is closed now. Thanks!

[2018-07-25 14:38] #178 closed

[2018-07-26 13:09] samsmith89 commented on #181
Here is the content for the page, Let me know if there is anything that needs to change:

[code]

[2018-07-26 13:44] Benunc commented on #181
@samsmith89 after looking at this (I cleaned up the language a bit) I think it needs a bit more work. Specifically, follow the structure of our other docs like this one: https://givewp.com/documentation/add-ons/tributes/general-settings/

(Settings type, options, default for each setting).

[2018-07-26 13:54] samsmith89 commented on #181
Sounds good. Thank you for taking a look. I will try and get this buttoned up in decompress today.

[2018-07-27 16:18] Benunc opened #186 "web-doc: update recurring with the latest functionality and screenshots."
**User Story**
As a `site admin`, I want `to know all of the functionality of Give's most popular add-on` so that `I can fully utilize it and educate donors`.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Provide the title if it's a new doc|*required* if its a new doc|
|**Current Url:**|https://givewp.com/documentation/add-ons/recurring-donations/managing-

[2018-07-27 16:19] Benunc commented on #186
Main doc updated. seeking feedback on the plan for the new doc @mathetos

[2018-07-30 11:55] ravinderk opened #187 "[Give 2.2.1] Update: email template tag registration API"
You can pass an array of arguments to register email template tag and also added `is_admin`
param which will check if we have to hide particular tag on email edit screen or not.
Check code sample in PR description: https://github.com/WordImpress/Give/pull/3528

Issue link: https://github.com/WordImpress/Give/issues/3516

[2018-07-30 17:05] mathetos commented on #186
@Benunc I like the list you have above on when the New Doc is ready. I think the only thing to add additionally is a list of the Gateways that support Recurring AND this feature, which I believe is only Stripe right now... but that's a really important detail to make explicit, and I think we need confirmation from Devteam about which Gateways support that.

[2018-07-31 12:36] samsmith89 commented on #185
Here is the Doc link:
https://docs.google.com/document/d/1MMJ1W7htymnxQUQcqmQTmY6tQwgmrMX2XQWCyLOIC_M/edit?usp=sharing

[2018-08-01 03:31] DevinWalker commented on #187
@ravinderk can you link to the doc that needs to be updated and screenshot the outdated code?

[2018-08-01 05:03] ravinderk commented on #187
Link of doc: https://givewp.com/documentation/developers/how-to-add-custom-email-tags/

[2018-08-01 19:01] DevinWalker commented on #187
@ravinderk I have updated the doc

[2018-08-01 19:01] #187 closed

[2018-08-14 04:32] ravinderk opened #188 "web-doc: add new donation note doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/donations/donation-notes
* Doc Title: Donation Notes
* Issue Type: New

## Issue Description

In Give 2.3.0, an admin will able to create two types of notes
1) Private
2) Donor note.

If email configured then the donor will be notified when `Donor note` type note will be added to donation.

This impacts several screens:
* Donation Det

[2018-08-17 12:46] samsmith89 commented on #185
Text finished for the post at the link above. Just need to get in screenshots. Let me know of any feedback.

[2018-08-28 17:57] marutim opened #189 "(web-doc): Update YP doc for WPBR to update the current status for YP API registration"
**User Story**
Update YP doc for WPBR to update the current status for YP API registration.

Sharing the slack link where we have discussed this in details https://wordimpress.slack.com/archives/CBR0BMH62/p1534797729000100

**Doc Details**
|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://wpbusinessreviews.com/documentation/platforms/yp/|*required*|

**This doc is rea

[2018-09-05 00:09] DevinWalker commented on #189
@marutim I believe you created this in the incorrect repo?

[2018-09-05 00:09] #189 closed

[2018-09-05 05:28] marutim commented on #189
@DevinWalker I believe so, but I could not find a repo for WPBR docs. Do we have one for WPBR?

[2018-09-05 13:01] samsmith89 commented on #185
Ready to publish. Just need feedback

[2018-09-05 21:27] samsmith89 commented on #185
Changed it after receiving feedback and published.

[2018-09-05 21:27] #185 closed

[2018-10-02 15:34] mehul0810 opened #190 "doc: create doc for Square add-on configuration"
## Necessary Items
**User Story**
As a user, I want to see easy to understand document to configure Square add-on so that it will be a convenient user experience.

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Give Square Gateway|*required* |
|**New Url:**|https://givewp.com/documentation/add-ons/square-gateway/|*required*|

## Assets
**Video Link:** https:

[2018-10-03 12:20] marutim opened #191 "web-doc: update exports tab to include settings for add-ons"
## Necessary Items
**User Story**
As a user, I would like to see documentation about the export functionalities when addons like Gift Aid and recurring is activated

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givewp.com/documentation/core/tools/exports-tab/|*required*|

## Assets
![image](https://user-images.githubusercontent.com/3498917/464098

[2018-10-03 13:14] marutim opened #192 "doc: update recurring info on Mollie Gateway page"
**User Story**
As a user, I find the information in the Mollie gateway addon page https://givewp.com/addons/mollie-payment-gateway/  incorrect. Here it says, mollie support **Yearly** subscriptions which is incorrect.

GH link about this issue: https://github.com/impress-org/give-mollie/issues/7

**Doc Details**

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Current Url:**|https://givew

[2018-10-03 18:54] mathetos commented on #192
Good catch @marutim -- Fixed!

[2018-10-03 18:54] #192 closed

[2018-10-03 18:59] mathetos commented on #191
I'm not sure that is the place to put that information. That section of docs is about Give Core only. The Gift Aid export option is already documented in the Gift Aid docs section here:
https://givewp.com/documentation/add-ons/gift-aid/exporting-gift-aid-data/

But the Recurring Donations Export is *NOT* documented here:
https://givewp.com/documentation/add-ons/recurring-donations/

So I'd like to

[2018-10-04 09:29] marutim commented on #191
I agree, we would need to have other docs for these settings which is specific to that addon but I would also like to have links in the Give core export tab https://givewp.com/documentation/core/tools/exports-tab/ that links to these extra settings with addons( may be in the sidebar or towards the bottom of the doc ) for better user experience.

[2018-10-04 19:16] mathetos opened #193 "doc: add new doc for Stripe about common credit card error messages"
## Necessary Items
**User Story**
As a Give Admin, I want to understand why a credit card error message is shown to my donors for any reason. Give's messages don't explain fully what happened at the payment gateway, so a doc that would show the Give message and the corresponding Stripe message would be best.

|**ITEM**|**DESCRIPTION**|**REQUIRED**|
|---|---|---|
|**Doc Title:**|Common Credit Card

[2018-10-17 05:46] mathetos opened #194 "web-doc: add "contact information" sub-page to email settings"
I'll fill out the whole issue better later, but here's what's currently missing from the site:
![image](https://user-images.githubusercontent.com/930724/47064673-469fa500-d195-11e8-946d-65e26cd83dfa.png)

## Necessary Items
**User Story**
Describe what the user wants in regard to this doc in these terms:
As a ________, I want ________ so that ________.

**Doc Details**

|**ITEM**|**DESCRIPTION**|*

[2018-10-18 16:17] mathetos opened #195 "web-doc: update donation details screen for donation notes update"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/donations/donation-details/
* Issue Type: Update

## Issue Description

The new "Donation Notes" feature in Give 2.3.0 adds new features to this screen. We need to update the screenshot and add a mention of this feature on this page.

## Assets

* Old Image:
![image](https://user-images.githubusercontent.com/930724/47168456-d177c100-d

[2018-10-18 16:59] Benunc commented on #165
Made some updates to the main doc here. https://givewp.com/documentation/add-ons/stripe-gateway/stripe-apple-pay-google-pay/

[2018-10-18 20:47] samsmith89 commented on #181
Here are the updated changes for this page:
[code]

[2018-10-19 15:32] Benunc commented on #186
Published. https://givewp.com/documentation/add-ons/recurring-donations/managing-subscriptions/updating-payment-information/

[2018-10-19 15:32] #186 closed

[2018-10-19 20:47] samsmith89 commented on #182
Here is the content for the page. The text will be placed here:

![screen_shot_2018-10-19_at_4_44_08_pm](https://user-images.githubusercontent.com/20672471/47242900-43d3c880-d3be-11e8-9145-67fe44ab6d5c.png)

`First, remove all mentions of Bitcoin support on the page.`

`<p><strong>Note:</strong> 3D secure card payments are not available when using the Stripe Modal Window. If accepting 3D secure ca

[2018-10-19 22:15] mathetos commented on #182
Looks great @samsmith89 Please login to the site on Monday and make those updates to the doc accordingly and publish. Thanks!

[2018-10-22 19:16] marutim opened #196 "web-doc: create a new doc to include Donor note email for Give 2.3"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/settings/emails/donor-note
* Doc Title: Donor Note
* Issue Type: New

## Issue Description
Create a new doc to include details about the new "Donor note" email. The template for this email can be edited in Donations > Settings > Emails > Donor Note

## Related Give Core/Add-on issues
Give Core issue for this new feature: https://githu

[2018-10-22 19:40] #195 closed

[2018-10-22 20:32] samsmith89 commented on #182
- Removed references to Alipay and Bitcoin
- Changed the Modal window screenshot (had Alipay in it)
- Added the attached text under the screenshot.
Closing

[2018-10-22 20:32] #182 closed

[2018-10-23 18:59] marutim commented on #194
@mathetos Added the doc here: https://givewp.com/documentation/core/settings/emails/contact-information/
Please review and close the issue.

[2018-10-23 22:30] mathetos commented on #144
@marutim I edited this heavily and published it here:
https://givewp.com/documentation/core/tools/exports-tab/export-settings-from-exports/

But I also re-opened the original issue for @ravinderk to review because that filter really should be properly prefixed. Maruti, please monitor the original issue and when the filter is live in the plugin update the article with the proper prefix.

Thanks gan

[2018-10-24 20:59] samsmith89 commented on #196
Just published at https://givewp.com/documentation/core/settings/emails/donor-note/
@mathetos

[2018-10-25 02:18] #196 closed

[2018-10-25 02:26] mathetos opened #197 "web-doc: update screenshot and copy to show the donor note on give_receipt table"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/shortcodes/give_receipt/
* Issue Type: Update

## Issue Description

Update the screenshot on this page that shows the full Donation receipt, and make sure it's showing the "Donation Note" section that should be reflected when a "Donor note" has been added to an individual donation.

Also add copy specifically about that feature, and

[2018-10-25 13:14] Benunc commented on #165
Updated the acceptance criteria here. will work on Plaid next

[2018-10-26 12:40] samsmith89 commented on #197
@mathetos I just confirmed that the donor note doesn't display in the receipt on the donation history page after it has been created:

![give local_donation-history__payment_key 969476873e72ad1c68d06496c1404b23](https://user-images.githubusercontent.com/20672471/47566785-bd0d7700-d8fa-11e8-9f3d-ecb972d28b6d.png)

Is there something I'm missing here?

[2018-10-26 17:14] mathetos commented on #197
Thanks @samsmith89 I misunderstood the original developer video on this part of the donor note feature. That's my mistake. This is closed for now, thanks!

[2018-10-26 17:14] #197 closed

[2018-10-26 18:32] mathetos commented on #188
I created a new doc for all docs to refer to a complete list of email tags here:
https://givewp.com/documentation/core/settings/emails/email-tags/

I added the `{donor_note}` to that doc.

The other new issues are resolved now as well. This feature is fully documented now.

[2018-10-26 18:32] #188 closed

[2018-10-31 14:08] Benunc commented on #52
Added this to the doc here. closing (though I noticed some issues that I will also be creating)

https://givewp.com/documentation/developers/give-api-reference/

[2018-10-31 14:08] #52 closed

[2018-11-01 18:39] mathetos commented on #165
I think we need a little reorganization of the main Stripe page to better reflect the settings screen. I'll update the Acceptance criteria on that soon.

[2018-11-02 20:57] samsmith89 commented on #179
Published live at https://givewp.com/documentation/add-ons/gift-aid/general-settings/

[2018-11-02 20:59] mathetos commented on #179
Great work, @samsmith89 Thanks!

[2018-11-02 20:59] #179 closed

[2018-11-14 18:05] mathetos opened #198 "web-doc: add new export donations doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/tools/exports-tab/export-donations
* Doc Title: Export Donations
* Issue Type: New

## Issue Description

The new export donations tool is very full-featured and needs a more complete description than it has currently.

This is the current page:
https://givewp.com/documentation/core/tools/exports-tab/

The "Export Donations" section s

[2018-11-14 20:35] mathetos opened #199 "web-doc: update general settings with live currency preview"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/settings/general-settings/currency-settings/
* Issue Type: Update

## Issue Description

Give has a live currency preview feature now which should be documented with a description and a GIF.

## Assets

An animated GIF should be made to show the preview working as intended.

## Related Give Core/Add-on issues

* https://github.com/imp

[2018-11-14 20:44] mathetos commented on #175
@marutim On this doc, I think there are several things that need to be clarified still:

1. A section explaining the relationship between the Default Gateway setting, and this Addon. Essentially, what happens if you keep it set to "Global Default", but with this addon you disable the Global Default gateway?
2. A screenshot like what you have above would be helpful as well.

Let me know when those

[2018-11-14 20:46] mathetos commented on #194
Good work on this one @marutim !

[2018-11-14 20:46] #194 closed

[2018-11-14 20:59] mathetos commented on #191
@marutim I'm assigning you this one for now, create a Google doc to take it as far as you can and I'll review carefully when you've got that ready.

[2018-11-15 13:40] samsmith89 commented on #198
Here is the link to the Google doc for progress:
https://docs.google.com/document/d/19VPy_b0RUTofqiASo8RmcJ6rMgF-UYJzYPwHqm1Rs5E/edit?usp=sharing

[2018-11-16 14:45] marutim commented on #199
@mathetos I have made the above changes. Please review. Thanks

[2018-11-16 14:45] #199 closed

[2018-11-16 16:37] mathetos commented on #199
Looks good, the only small change was I put the image preview BELOW the setting description. Thanks!

[2018-11-29 10:30] marutim commented on #191
@mathetos I have worked on this doc directly on the website but have kept the doc in draft so that you can review it before publishing it.
I have created this as a subpage to recurring donations.

Link to the preview draft: https://givewp.com/?post_type=documentation&p=324564&preview=true

[2018-11-29 14:02] marutim commented on #148
Updates have not been made to this doc here: https://givewp.com/documentation/add-ons/email-reports/
Update the screenshot to display the latest settings
Reopening it

[2018-11-29 23:31] mathetos opened #200 "web-doc: update Form Display to reflect all current options"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/give-forms/form-display/
* Issue Type: Update

## Issue Description

This doc is outdated. It needs to have the following Form Display options added with detail:

* Default Gateway
* Name Title Prefix
* Company Donations
* Anonymous Donations
* Donor Comments

## Related Give Core/Add-on issues

* Same goes for the General Settings "D

[2018-11-29 23:35] mathetos opened #201 "web-doc: update Settings > Display Options with new settings available in Core"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/settings/display-options/
* Issue Type: Update

## Issue Description

This doc is outdated and needs the following new settings added:
* Name Title Prefix
* Company Donations
* Anonymous Donations
* Donor Comments

This doc should also link to [this page](https://givewp.com/documentation/core/give-forms/form-display/) to indicate how

[2018-11-30 16:59] samsmith89 commented on #198
Published at https://givewp.com/documentation/core/tools/exports-tab/export-donations/ and ready to close.

I also updated the https://givewp.com/documentation/core/tools/exports-tab/ parent page to reflect the changes in this doc.

[2018-12-07 05:09] mehul0810 opened #202 "web-doc: create a doc to explain the detailed recurring settings to avoid confusion"
## Issue Info
* Docs URL: https://givewp.com/documentation/configure-recurring-settings
* Doc Title: Understanding the Recurring Add-ons settings.
* Issue Type: New

## Issue Description
Recently, We have noticed that lots of customers have reported a similar issue related to Admin Defined recurring settings where we think to add a detailed document to explain these settings including Donor Choice

[2018-12-10 11:49] mehul0810 opened #203 "web-doc: update the existing payumoney documentation"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/payumoney/
* Issue Type: Update

## Issue Description
Earlier, there were 2 different domains for TEST and LIVE payments. However, now registering through payumoney.com will generate TEST and LIVE credentials.

**URL:** https://www.payumoney.com/

## Assets
Payment Screen
![image](https://user-images.githubusercontent.com/1852711/4

[2018-12-14 18:23] marutim commented on #144
Updated the filter from `settings_export_excludes` to `give_settings_export_excludes` in the doc.

[2018-12-14 18:23] #144 closed

[2018-12-17 12:58] #198 closed

[2018-12-17 13:55] samsmith89 commented on #201
Here is a link to the google doc:
https://docs.google.com/document/d/1z1F0G9S28HIFA0ClYhN4gDH-A7aFbYCuni7ywzzq8_o/edit?usp=sharing

[2018-12-17 16:41] mathetos commented on #198
Well done, thanks @samsmith89 !

[2018-12-18 11:02] marutim commented on #200
Doc Created: https://docs.google.com/document/d/1p_2KCEqPXcYmulooUAlHvCx_L53d-e9QLzqgJIyrhQM/edit#

Also, we need to update the Global Display options settings page here https://givewp.com/documentation/core/settings/display-options/

[2018-12-18 14:03] samsmith89 commented on #201
This is published at https://givewp.com/documentation/core/settings/display-options/ Let me know if there is anything that needs to be changed.

[2018-12-18 14:03] #201 closed

[2018-12-18 15:18] mathetos commented on #201
Looks great, Sam. Love the screenshots.

[2018-12-18 15:21] mathetos commented on #200
@marutim You can easily use a lot of the new wording that Sam created for the Global display options screen that are already reflected on this page here:
https://givewp.com/documentation/core/settings/display-options/

That should help get this done quicker. Thanks!

[2018-12-19 11:53] mehul0810 commented on #203
We're now supporting PayUBiz account with our add-on. We've added a setting to handle that. Please refer PR for more details https://github.com/impress-org/give-payumoney/pull/17 which have detailed explanation and a testing video.

Let me know if you've any questions

[2018-12-19 12:20] marutim commented on #200
Updated the doc with current options here: https://givewp.com/documentation/core/give-forms/form-display/

@mathetos can you review this and let me know if you want to make any changes?

Thanks

[2018-12-19 12:20] #200 closed

[2018-12-19 13:02] Benunc commented on #191
cleaned this up and published. well done, @marutim!

[2018-12-19 13:02] #191 closed

[2018-12-19 13:04] Benunc commented on #165
@mathetos did you ever update the acceptance criteria here? From my perspective this is done, but I'll wait for you to make that call.

[2018-12-20 00:42] mathetos opened #204 "web-doc: add new section for blocks"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/blocks
* Doc Title: Give Blocks
* Issue Type: New

## Issue Description
Give 2.3.1 introduced three new Gutenberg blocks. We need a new section to document those and the upcoming blocks.

This new section should provide just a basic description of the available blocks in Give Core with links to their individual docs.

## Acceptance Cr

[2018-12-20 00:47] mathetos opened #205 "web-doc: add new give form gutenberg block doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/blocks/give-form-block
* Doc Title: Give Form Block
* Issue Type: New

## Issue Description

We need a detailed overview of the new Give Form block. This will be a sub-page of the new "blocks" section addressed in issue #204

## Assets

This will need screenshots for sure, as appropriate to describe the crucial features.

## Related G

[2018-12-20 00:50] mathetos opened #206 "web-doc: add new give form grid block doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/blocks/give-form-grid-block
* Doc Title: Give Form Grid Block
* Issue Type: New

## Issue Description

We need a detailed overview of the new Give Form Grid block. This will be a sub-page of the new "blocks" section addressed in issue #204

## Assets

This will need screenshots for sure, as appropriate to describe the crucial features

[2018-12-20 00:54] mathetos opened #207 "web-doc: add new give donor wall block doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/blocks/give-donor-wall-block
* Doc Title: Give Donor Wall Block
* Issue Type: New

## Issue Description

We need a detailed overview of the new Give Donor Wall block. This will be a sub-page of the new "blocks" section addressed in issue #204

## Assets

This will need screenshots for sure, as appropriate to describe the crucial featu

[2018-12-20 01:14] mathetos commented on #165
@Benunc Acceptance criteria has been updated so that the main Stripe doc will be complete -- each setting of the main Stripe Settings page will have a detailed explanation, and the whole page will follow the same structure as the Stripe Settings page once those items above are completed.

Thanks!

[2018-12-20 01:19] mathetos commented on #200
Great work on this one @marutim Thanks!

[2018-12-26 21:58] samsmith89 commented on #206
Started the new doc here:
https://docs.google.com/document/d/1-WeIcejhbbGTuJ_oOlxAkJzij75oUwR83TJ8MXqj-Dc/edit?usp=sharing

[2018-12-27 20:48] samsmith89 commented on #207
I assigned the wrong one to myself

[2018-12-27 22:53] Benunc commented on #165
BOOOOOOM.

[2018-12-27 22:53] #165 closed

[2018-12-27 23:03] mathetos commented on #165
Ahhhhhh.... this is SOOO much better. Great work!

[2018-12-28 10:02] marutim commented on #175
@mathetos I have added a section at the bottom of this doc https://givewp.com/documentation/add-ons/per-form-gateways/ explaining the relationship between the default gateway and the per form gateway options.

Please review and let me know of any changes. Thanks!

[2018-12-28 10:02] #175 closed

[2018-12-28 13:35] samsmith89 commented on #206
This doc is live at https://givewp.com/documentation/core/blocks/form-grid-block/

[2018-12-28 13:35] #206 closed

[2018-12-28 19:16] mathetos commented on #175
Good work here. I made some minor tweaks and updates. Thanks!

[2019-01-07 14:01] samsmith89 commented on #207
Here is the google doc for the content:
https://docs.google.com/document/d/1x5yTqbJuAblH-btmG3e73RdXcUamhf1s8IqQSDe-kvc/edit

[2019-01-07 21:42] #156 closed

[2019-01-08 11:39] marutim commented on #158
@mathetos Can you have a look at the doc above and help me frame this blog?

I have started this doc back in May, so I might have to check if anything has changed as far as hooks are concerned but can you help me with some "acceptance criteria" to understand the flow of this doc.

Thanks!

[2019-01-09 00:18] mathetos commented on #158
I'd prefer @kevinwhoffman or @DevinWalker to finish off this article. I'd like to see more articles like this in the `/documentations/developers` section of our docs and this is the perfect one to start with. I think each of these docs should have an outline like the following:

- [x] Describe the need this article addresses (done!)
- [x] Highlight where in the plugin this is relevant to (done!)
-

[2019-01-09 01:03] mathetos commented on #127
@kirklandharrell As discussed, I'm assigning this to you to jump on. Let's focus on getting this done in the following steps:

- [ ] Create a general Docs Video Outline that can be used for any and all Docs videos moving forward. Post that here as a Google Doc for review when it's ready.
- [ ] Then use that outline to create a detailed outline of what this video should look like. Post that here as

[2019-01-11 02:48] kevinwhoffman commented on #148
Moving this to the Docs pipeline as I think it got lost in New Issues.

[2019-01-11 14:09] samsmith89 commented on #207
Published here https://givewp.com/documentation/core/blocks/donor-wall-block/

[2019-01-11 18:14] samsmith89 commented on #207
Sounds good. I’ll make that happen.

[2019-01-14 21:39] samsmith89 commented on #207
@mathetos Finished and published

[2019-01-14 21:39] #207 closed

[2019-01-17 02:56] mathetos commented on #204
This issue was treated basically like an "epic". Great work getting this done team!

[2019-01-17 02:56] #204 closed

[2019-01-17 02:59] mathetos commented on #193
We don't have a tag for "not a high priority" so just saying that here for now.

[2019-01-17 03:01] mathetos commented on #166
@Benunc can you review this issue again? Is it still a pain point or has this now been addressed adequately? Please review, and update the OP, or close. Thanks!

[2019-01-17 03:05] mathetos commented on #169
I'm going to try to tackle this one this week. I like @kevinwhoffman 's suggestion in the linked issue of Phase 2 being a library of JSON strings for popular themes and I'd like to ensure we get there soon.

[2019-01-17 03:06] mathetos commented on #176
This was addressed via this doc:
https://givewp.com/documentation/add-ons/stripe-gateway/stripe-plaid/

[2019-01-17 03:06] #176 closed

[2019-01-17 03:07] mathetos commented on #173
@Benunc Do you still see a need for this doc? The issue above isn't super clear on why this is a felt need for customers. Please expound the OP above or close this out if you think it's no longer a need.

[2019-01-17 03:08] mathetos commented on #57
@samsmith89 The linked issue is closed, so this doc should proceed now.

[2019-01-17 03:10] mathetos commented on #171
We have had some developer-users request a full database schema for Give. I think something like that would be useful in developer docs.

@ravinderk is that something you can provide relatively easily?
@kevinwhoffman do you have thoughts on that at all?

[2019-01-17 03:11] mathetos commented on #168
I believe this is resolved.

[2019-01-17 03:11] #168 closed

[2019-01-17 03:12] mathetos commented on #172
@samsmith89 I'll wrap this one up. But the Google Doc you linked above is not in our company Drive. Can you place it there so it can be easily accessed?

[2019-01-17 03:14] mathetos commented on #164
Duplicate of #166

[2019-01-17 03:14] #164 closed

[2019-01-17 03:15] mathetos commented on #132
The article has been updated with LOTS of updates, the whole article is almost totally absolete now. We need a new one!

[2019-01-17 03:15] #132 closed

[2019-01-17 03:16] mathetos commented on #90
@Benunc please review this issue and provide new acceptance criteria. I see outdated screenshots and quite a few other items in desperate need of updating.

[2019-01-17 03:18] mathetos commented on #71
Closing for now, it's been updated a LONG time ago.

[2019-01-17 03:18] #71 closed

[2019-01-17 15:18] Benunc commented on #90
Updated and done.

[2019-01-17 15:18] #90 closed

[2019-01-17 15:51] #173 closed

[2019-01-17 15:53] Benunc commented on #166
it's been updated. closing.

[2019-01-17 15:53] #166 closed

[2019-01-17 17:05] mathetos commented on #90
Great work here, I just did a couple other minor tweaks.

[2019-01-18 13:03] marutim commented on #148
@mathetos I have worked on the documentation to update the screenshots and settings details.

I was not able to complete the settings details as Succuri started to deny access. I was doing nothing different than I was doing so far.

![image](https://user-images.githubusercontent.com/3498917/51388458-7a50e900-1b4f-11e9-940a-212f44debffb.png)

[2019-01-23 13:55] marutim opened #208 "web-doc: update Fee Recovery add-on page to add the latest screenshots"
## Issue Info
* Docs URL: https://givewp.com/addons/fee-recovery/
* Issue Type: Update the screenshots in this page.

## Issue Description
The screenshot for the fee recovery global and per form settings are outdated.

## Solution
Update the doc with the following screenshots
The Fee Recovery Global Settings Screen
![the fee recovery global settings screen](https://user-images.githubusercontent.co

[2019-01-23 20:33] samsmith89 opened #209 "web-doc: update testing process for Paytm"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/paytm-gateway/
* Issue Type: Update

## Issue Description
The testing site for Paytm "https://pguat.paytm.com/PayTMSecured1/app/auth/login" has been taken down. The process is to now sign up for an account and use testing payment details found here https://developer.paytm.com/docs/testing-integration/

## Assets
https://developer.p

[2019-02-05 13:58] samsmith89 commented on #57
Link to the Google Doc:
https://docs.google.com/document/d/1wmIQ3E2IoRYlhk9lREQOvgLj3STcegzNmNmvXboCIb0/edit?usp=sharing

[2019-02-07 14:01] samsmith89 commented on #184
Here is the start of the doc:
https://docs.google.com/document/d/1iXEOWgcH-ay-7kb1kNNjTehbE2XrsmK-0CB1u8D61AQ/edit?usp=sharing

[2019-02-07 16:16] Benunc commented on #202
I added a new section to https://givewp.com/documentation/add-ons/recurring-donations/recurring-donation-forms/ under the Admin Defined example section. THis is done.

[2019-02-07 16:16] #202 closed

[2019-02-13 14:16] Benunc commented on #193
Very close to finishing this, but I am now second-guessing my approach. I went through the list of error messages and provided context, but then when I attempt to get the error code for a screenshot, it seems to be pulling the text directly from Stripe:

For example: The error message string in give-stripe is `The card was declined.` yet this is the error I get:

![screen shot 2019-02-13 at 9 14 3

[2019-02-14 13:06] samsmith89 commented on #184
Blocked until further functionality is added

[2019-02-15 13:40] samsmith89 commented on #57
This is now live here:
https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/paypal-pro/
Let me know if this is sufficient, and I will remove the section detailing the IPN URL and close this issue.

[2019-02-21 13:54] samsmith89 commented on #57
Changed the order of the Payflow instructions to the top, and left the IPN settings for legacy accounts. Closing

[2019-02-21 13:54] #57 closed

[2019-02-26 01:04] mathetos commented on #208
Thanks @marutim I updated with your screenshots.

[2019-02-26 01:04] #208 closed

[2019-02-26 01:06] mathetos commented on #127
This is DONE! Well done @kirklandharrell !!

[2019-02-26 01:06] #127 closed

[2019-02-26 01:07] mathetos commented on #203
@marutim Can you start a Google Doc to update this, this week?

[2019-02-26 02:00] mathetos opened #210 "web-doc: add resource doc for running Give on a multi-lingual website"
## Issue Info
* Docs URL: `https://givewp.com/documentation/resource/give-multilingual-websites`
* Doc Title: `How to Use GiveWP on a Multilingual Website`
* Issue Type: `New`

## Issue Description

We get a lot of multilingual website/plugin issues that come up regularly. Each plugin/solution takes a different route or perspective for how to do multilingual sites. But most of them share a few com

[2019-02-26 02:07] mathetos commented on #210
A couple articles that might be helpful to review:

* https://shopitpress.com/blog/woocommerce-setup/how-to-easily-make-woocommerce-multilingual/
* https://wpml.org/documentation/related-projects/woocommerce-multilingual/
* https://woocommerce.com/posts/building-a-multilingual-online-store-the-right-way/
* https://www.kadencethemes.com/how-to-build-a-multilingual-woocommerce-site/

[2019-02-26 03:41] jfarsen commented on #210
I might suggest adding TranslatePress to the list of plugins that have market-traction.

As for approaches, it could be beneficial to confirm if all of GiveWP’s functionalities are supported by each plugin, and if not, which functions will not work, and what mitigation strategies can you provide.

I’m not convinced it’s this document’s role to provide a list of cons & pros to each plugins translat

[2019-02-26 08:00] kevinwhoffman commented on #171
We could use the Codex example of the WP database as a blueprint for our Give documentation. I think a database diagram coupled with an explanatory table works well.

- [Database Diagram](https://codex.wordpress.org/Database_Description#Database_Diagram)
- [Table Overview](https://codex.wordpress.org/Database_Description#Table_Overview)

I believe [MySQL Workbench](https://www.mysql.com/products/w

[2019-02-26 13:58] samsmith89 commented on #169
Here's the Google Doc for the content:
https://docs.google.com/document/d/1puXHaRULsoKx1QlotFZUfamYxfs9j-GxzOQtliGPTzA/edit?usp=sharing

[2019-02-27 12:36] marutim commented on #203
Link to the doc: https://docs.google.com/document/d/1t_xshTbHdMh95pLai-RV6w7QSiJtS00cI0a-XXyILqU

[2019-02-28 14:30] Benunc commented on #193
After reviewing this, I think that the problem is my ability to replicate the error for a screenshot, not so much the error messages themselves. I frequently run into errors on customer sites that are like these. (in the logs.)

I am going to remove the confusing screenshot and publish this.

[2019-02-28 14:30] #193 closed

[2019-03-08 21:24] samsmith89 commented on #169
Published at:
https://givewp.com/documentation/resources/styling-give-forms-pages/styling-stripe-elements-cc-fields/

[2019-03-08 21:56] mathetos commented on #169
This is a good start, Sam. But it really needs some detailed examples. This setting is really foreign to most of our readers so they will need a bit more handholding.

I think before/after screenshots of implementing this with some default or popular themes would help a lot.

I'll do the first one with TwentyNineteen and we can go from there.

[2019-03-08 22:01] samsmith89 commented on #169
Sounds good. I agree that screenshots would be beneficial. I'll rework it to provide some more examples.

[2019-03-12 13:33] marutim opened #211 "web-doc: update 2checkout add-on and documentation page."
## Issue Info
* Docs URL:https://givewp.com/addons/2checkout-gateway/ https://givewp.com/documentation/add-ons/2checkout-gateway/
* Issue Type: Update

## Issue Description

Due to the recent change in Policy, 2checkout does not allow donations for NGO outside of the US. Please make the necessary changes in the add-on and documentation ( and probably in the countries page ) to make this clearer to

[2019-03-15 14:29] marutim commented on #148
@mathetos I have made the changes and published it here: https://givewp.com/documentation/add-ons/email-reports/

Can you please review and suggest changes, if any.

[2019-03-15 14:29] #148 closed

[2019-03-28 17:45] marutim commented on #203
@mathetos Can you review the above doc and let me know if you have any comments.

[2019-03-29 13:33] marutim commented on #203
@mathetos I have updated the doc https://givewp.com/documentation/add-ons/payumoney/
Please review. Thanks

[2019-03-29 13:33] #203 closed

[2019-03-29 19:05] mathetos commented on #203
Looks great, thanks for that!

[2019-04-04 12:51] samsmith89 commented on #169
@mathetos Just finished adding the examples to the bottom of the doc. Take a look and let me know what you think:
https://givewp.com/documentation/resources/styling-give-forms-pages/styling-stripe-elements-cc-fields/

[2019-04-05 13:02] samsmith89 commented on #169
Made changes

[2019-04-05 13:02] #169 closed

[2019-04-15 13:10] Benunc commented on #135
I re-did this doc today, and published. It's not as full-featured now, but it at least is up to date with GIve 2.0+

[2019-04-15 13:10] #135 closed

[2019-04-24 18:49] mathetos opened #212 "web-doc: add recurring donations for mollie doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/mollie
* Doc Title: Recurring Donations with the Mollie Payment Gateway
* Issue Type: New

## Issue Description

We need to add this doc to the "Supported Payment Gateways" section of Recurring Donations.

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] The doc is

[2019-04-24 19:14] mathetos commented on #212
@samsmith89 Please do the following:
1. Start a Google Doc in a FOLDER in Drive with a detailed outline of what this needs, use my list above as a guide as well as the [PayPal Standard](https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/paypal-standard/) doc since I think they'll be similar.
2. In that same FOLDER add all relevant screenshots as as high a resol

[2019-04-24 19:16] mathetos opened #213 "web-doc: update every gateway that does not support recurring to have an FAQ about that"
## Issue Info
* Docs URL: many... see list below
* Issue Type: Update

## Issue Description

We need to make it more explicit on all gateway docs that don't support recurring that they don't support recurring. I think this is best handled as an FAQ section at the bottom of the main doc. I've already done that for two examples:

- [x] [iATS](https://givewp.com/documentation/add-ons/iats-payments/)

[2019-04-24 19:18] mathetos opened #214 "web-doc: add recurring donations for gocardless"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/recurring-donations-gocardless
* Doc Title: Recurring Donations with the GoCardless Gateway
* Issue Type: New

## Issue Description

We need to add this doc to the "Supported Payment Gateways" section of Recurring Donations.

## Acceptance Criteria

**This doc is ready to publish when:

[2019-04-25 14:55] Benunc commented on #214
Started the doc here https://givewp.com/wp-admin/post.php?post=360551&action=edit

[2019-04-26 14:09] Benunc commented on #214
published https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/gocardless/

[2019-04-26 14:09] #214 closed

[2019-04-30 18:31] samsmith89 commented on #212
@mathetos there isn't going to be much for this doc as there isn't any setup I can find. It just works when recurring is enabled. I added more information in the doc.

Here is the link to the folder in Drive:
https://drive.google.com/open?id=1-1QeYHaHpNROk1fghDsEh_ii60RayOhc

Here is the link to the doc:
https://docs.google.com/document/d/1HGKvX8W_hD8wJ8Yp4FtYcl17cJuphSN5SMj6r_cH24M/edit?usp=shari

[2019-05-01 22:27] mathetos opened #215 "web-doc: update import donations doc with a section on mapping fields and success screen"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/tools/import/import-donations/
* Issue Type: Update

## Issue Description

Currently, the doc only discusses the first screen of the import process. it doesn't go into detail at all about the second screen where all the data from the CSV has to be mapped or the success screen.

## Assets

The updated sections will need these screensho

[2019-05-17 21:57] stephaniehellwig opened #216 "web-doc: update shortcode donor wall doc to include more detail for beginners"
## Issue Description

## Assets

## Related Give Core/Add-on issues

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] I see updated verbiage that points customers to Donor Wall Block rather than shortcode builder
- [ ] The Shortcode Attributes are lowercase
- [ ] A section is added that gives an example of common used shortcodes
- [ ] The attributes are edited to give more spec

[2019-05-28 23:18] mathetos commented on #216
@stephaniehellwig Your edits in the Google Doc are great. Please implement those at your earliest convenience. Thanks!

[2019-05-28 23:50] mathetos commented on #215
Questions that we need to answer about this going forward:

1. On the success screen the duplicate donors and donations. How are duplicate donors identified? How are duplicate donations identified?
2. If "Donor Meta" is chosen, where can users see that information? Is it in the Donation Details screen or only available via exports?
3. For custom field info, is it necessary to have FFM fields on a

[2019-05-29 21:36] Benunc opened #217 "web-doc: describe all the fields in a typical export"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/tools/exports-tab/export-donations/
* Issue Type: Update

## Issue Description
When you export to CSV, the resulting file can be confusing. We need to explain what the columns mean on a typical export

## Acceptance Criteria
- [ ] I see and understand all the default fields that export for an ALL forms export.
- [ ] I see and understa

[2019-05-31 12:35] Benunc opened #218 "Give 2.5 Screenshot Audit"
Give 2.5 introduces a major visual overhaul to the Give Settings screen. All our screenshots will have to be updated. Here's how we'll tackle it.

## STEP 1:
I've created a spreadsheet of the entire Documentation area here:
https://docs.google.com/spreadsheets/d/1NsAJlCRfb4j21rBqsCKJ4f4iJxr2m7XfrcCzMBS8O8w/edit#gid=0

There's three coloumns:
![Screen Shot 2019-05-31 at 8 30 42 AM](https://user-ima

[2019-05-31 18:11] mathetos commented on #218
@stephaniehellwig The Google Spreadsheet above is now complete and current with ALL our docs that need to be checked. You're up next! We can do a hangout to review quickly if you need it. Thanks!

[2019-05-31 23:13] stephaniehellwig commented on #218
@mathetos All done!  Back in your court!

[2019-06-13 12:29] ravinderk commented on #215
@mathetos
1. How are duplicate donor and donation detected?
There are the following conditions to detect duplicate donor.
    1. Compare donor Id if present in the export file
    2. Compare donor email if present in the export file
    3. If donor id and donor email does not exist and admin select to create donor then compare existing donor id.
ref: check `duplicate_donor` in `give_import_get_use

[2019-07-10 21:29] stephaniehellwig opened #219 "web-doc: update permalink and featured image to correct spelling error"
## Issue Info
* Docs URL: https://givewp.com/documentation/developers/themeing-with-give/
* Doc Title: (only necessary if a new doc)
* Issue Type: Update

## Issue Description
All instances of themeing will need to be changed to theming.

The featured image needs to be updated to reflect the correct (dictionary) spelling of the word theming.

The permalink needs to be corrected and a redirect impl

[2019-07-12 22:45] stephaniehellwig opened #220 "web-doc: add new doc for Give single page sidebar"
## Issue Info
* Docs URL:
* Doc Title: Single Form Sidebar
* Issue Type: New

## Issue Description
Doc does not exist and we need to offer more clarity on the use of the single form sidebar beyond just the settings option

## Assets
screenshots for doc
settings screen
example of a single page with donor wall in the sidebar
https://drive.google.com/open?id=1bOp-D_cC0UbiP9XGRab3sOFnclP8NOw6

## Rela

[2019-07-12 23:06] mathetos opened #221 "web-doc: add resource doc on how to merge donors"
## Issue Info
* Docs URL: https://givewp.com/documentation/resources/how-to-merge-donors
* Doc Title: How to Merge Donors
* Issue Type: New

## Issue Description

We need a doc that walks users through how to merge donors and all the caveats to that process.

## Acceptance Criteria

This is the outline:

- [x] 1. Introduce the problem
- [x] 2. Transition to explain it’s different whether the donor

[2019-07-17 21:06] Benunc opened #222 "web-doc: revise Stripe (Free) doc to include Configuration of Connect and Webhook"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/payment-gateways/stripe-free/
* Issue Type: Update

## Issue Description
With Stripe included in the core plugin, it is now required for anyone using Stripe to configure Webhooks.

The existing doc walks through the settings and FAQs, but a more explicit section on configuring Stripe Free is required.

## Related Give Core/Add-on issu

[2019-07-19 19:04] stephaniehellwig opened #223 "web-doc: update screenshot image"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/settings/general-settings/currency-settings/
* Doc Title: (only necessary if a new doc)
* Issue Type: Update

## Issue Description

The screenshot on this doc needs to be updated to remove the magnifying glass effect

## Assets

## Related Give Core/Add-on issues

## Acceptance Criteria

**This doc is ready to publish when:**
- [x] I

[2019-07-24 22:05] mathetos opened #224 "web-doc: update Stripe Recurring with info on Plaid, GPay, and Apple Pay support"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/stripe/
* Issue Type: Update

## Issue Description

We need to ensure that all the various payment options that our Stripe add-on supports are detailed in terms of how they support Recurring Donations .

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] Recurring det

[2019-07-25 23:22] mathetos opened #225 "web-doc: add doc about using Give with WP Bakery via the Shortcode Mapper"
## Issue Info
* Docs URL: https://givewp.com/documentation/resources/givewp-wp-bakery
* Doc Title: Using GiveWP with WP Bakery
* Issue Type: New

## Issue Description

In order to output our Give shortcodes correctly in WP Bakery, users need to register our shortcodes with WP Bakery's built-in "Shortcode Mapper" tool. See their docs on that here:
https://kb.wpbakery.com/docs/learning-more/shortcod

[2019-07-26 16:48] Benunc commented on #222
DONE

[2019-07-26 16:48] #222 closed

[2019-07-26 17:03] mathetos opened #226 "web-doc: update Recurring Form Fields to mention recurring subscribers as a goal"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/recurring-donation-forms/
* Issue Type: Update

## Issue Description

When recurring is enabled, the goal has the option to be limited only to recurring donations. That is not currently documented and needs to be.

We also need to clarify the following:
- Do renewals increase the progress amount?
- If "Number of

[2019-07-26 18:58] allienimmons opened #227 "web-doc: add increase max_input_vars and PHP Timeout doc"
## Issue Info
* Docs URL: https://givewp.com/documentation/increase-max-input-vars-PHP-Timeout
* Doc Title: Increase Your max_input_vars and PHP Timeout
* Issue Type: New

## Issue Description
When the max_input_var and/or PHP Timeout are too low, users can experience unexpected errors and things like receipt pages not appearing when they have been configured properly. The doc should walk them thr

[2019-07-26 19:11] mathetos commented on #227
Thanks @allienimmons -- since this is your first Give Docs issue, I want to walk through some things we need to address to make sure we're doing things consistently in our Docs.

1. The Give Docs URL
The root URL for our whole docs section of the site is:
`givewp.com/documentation/`

The URL you suggested would then be a ROOT page of our docs -- we don't want that because we want to keep the ROOT

[2019-08-14 19:09] Benunc commented on #184
From a ticket, potentially helpful.

[2019-08-20 20:39] stephaniehellwig commented on #218
I need to double check that all of this is complete > then close doc issue.

[2019-08-20 20:56] stephaniehellwig commented on #226
Compare current docs with add-on behavior to write the acceptance criteria> assign for completion.

[2019-08-21 17:33] #223 closed

[2019-08-21 18:21] #213 closed

[2019-08-22 19:26] stephaniehellwig commented on #219
Requested FI correction 8/22/19

[2019-08-22 19:31] stephaniehellwig commented on #218
@mathetos I am kicking this milestone out a bit as the screenshots that are not complete are for payment gateways which you had assigned to yourself.  There are also a few notes for your review/reply in the spreadsheet.

[2019-08-23 17:54] stephaniehellwig commented on #219
@mathetos The permalink needs to be changed here.

[2019-08-23 23:47] mathetos commented on #219
The THEM-ing is complete.

[2019-08-23 23:47] #219 closed

[2019-08-26 22:35] stephaniehellwig opened #228 "web-doc: update Square doc to include how to link Square to Give via API"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/square-gateway/

* Issue Type: Update

## Issue Description
The current Square docs do not mention that there is another way to link Give with Square.
 We need to show how to use the API method to link Square to Give

## Assets
https://drive.google.com/open?id=1a4Md716jIFB7CAwsWi5JZG_xWvMXF7DQ

## Related Give Core/Add-on issues

#

[2019-08-28 19:46] IanDLacy opened #229 "Shortcode parameters for [give_donor_wall] do not match online documentation."
Using Version 2.5.4

Documentation URL:
https://givewp.com/documentation/core/shortcodes/give_donor_wall/

There are probably more of these (listed below) that are wrong, but these are the only ones I needed to use, and therefore the only ones I noticed.

Documentation --> Reality
form --> form_id
donor_avatar=show|hide --> show_avatar=true|false
donor_comment=show|hide --> show_comments=true|fals

[2019-08-28 21:25] stephaniehellwig commented on #216
https://github.com/impress-org/give-docs/issues/229
User commented:

There are probably more of these (listed below) that are wrong, but these are the only ones I needed to use, and therefore the only ones I noticed.

Documentation --> Reality
form --> form_id
donor_avatar=show|hide --> show_avatar=true|false
donor_comment=show|hide --> show_comments=true|false

[2019-08-28 21:46] mathetos commented on #229
CLosing in favor of #216

[2019-08-28 21:46] #229 closed

[2019-08-28 23:01] stephaniehellwig opened #230 "web-doc: update doc to include how to troubleshoot JS errors"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/frequent-troubleshooting-issues/
* Issue Type: Update

## Issue Description
Whenever I see JS errors on the page, I immediately check several things:
1. Are the loading the WP core version of jQuery (in this case they were)
2. Are they stripping the query strings from the assets? If they are, then this is most likely a caching problem

[2019-08-29 14:39] michelleames opened #231 "web-doc: Dashboard link is broken"
![Screen Shot 2019-08-29 at 10 26 24 AM](https://user-images.githubusercontent.com/14227933/63949702-cbf81500-ca48-11e9-8807-a749bdc6a86a.png)

The link for webbooks documentation in the dashboard for Stripe returns at http://docs.givewp.com/  (There is an extra space at the end of the link that is resulting in the dead page.)

(Reported to me for an NGO site I'm helping with on my vacation.)

[2019-08-29 18:27] mathetos commented on #216
@stephaniehellwig

Ben and I reviewed this in more detail. I think the main problems with this doc are around the various ways the shortcode is either generated or manually created. The Form Grid shortcode doc actually does a really good job of navigating that problem.
See here:
https://givewp.com/documentation/core/shortcodes/give_form_grid/

I think the Donor Wall shortcode doc needs to be updat

[2019-08-29 18:41] Benunc commented on #226
Amount : $200 out of $500 (only counts subscription value)
Percentage: 41% raised (only counts subscription value)
Donations: counts the total number of active subscriptions. (lists as "donations")
Donors: total active subscriptions (lists as "donors")

[2019-08-30 02:09] stephaniehellwig opened #232 "web-doc: update Advanced setting to indicate the stripe and square options"
## Issue Info
* Docs URL: https://givewp.com/documentation/core/settings/advanced/
* Docs URL: https://givewp.com/documentation/add-ons/stripe-gateway/
* Docs URL: https://givewp.com/documentation/add-ons/square-gateway/

* Issue Type: Update

## Issue Description
There is not currently anywhere in the docs that indicate the Stripe or Square settings in the Donations > Settings > Advanced  tab
The

[2019-09-03 15:01] stephaniehellwig commented on #228
https://squareup.com/us/en/developers > developer dashboard
Create an app to get the API keys

[2019-09-03 22:25] stephaniehellwig commented on #228
Ticket for refrence: https://secure.helpscout.net/conversation/943601646/46148?folderId=2805787

[2019-09-04 13:38] Benunc commented on #226
This is done. See the final section here: https://givewp.com/documentation/add-ons/recurring-donations/recurring-donation-forms/

Comments and corrections welcomed.

[2019-09-04 13:38] #226 closed

[2019-09-04 19:29] stephaniehellwig commented on #184
https://secure.helpscout.net/conversation/947567118/46377?folderId=3046394

[2019-09-06 13:20] allienimmons opened #233 "web-doc: update Custom Functions to include syntax/formatting instructions"
## Issue Info
* Docs URL: https://givewp.com/documentation/resources/adding-custom-functions-to-your-wordpress-website/
* Issue Type: Update

## Issue Description
Many users do not understand intuitively to remove the <?php from the beginning of a snippet prior to adding it to My Custom Functions. They also may not know that you cannot add one snippet after the other without skipping lines. The up

[2019-09-06 13:20] allienimmons commented on #233
@stephaniehellwig Please review!

[2019-09-11 14:24] Benunc opened #234 "UPDATE: Update the How TO Install and Activate Give add-ons doc for new 2.5 functionality."
* Docs URL: https://givewp.com/documentation/core/how-to-install-and-activate-give-add-ons/
* Issue Type: Update

## Issue Description
The License tab functionality needs to be updated to show the new procedure.

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] I see an updated screenshot of the new Licenses UI in Give 2.5.
- [ ] I understand how to use the new license UI to st

[2019-09-11 14:24] Benunc commented on #234
This is DONE. may need a screencast video, but the words and screenshots are done.

[2019-09-11 14:24] #234 closed

[2019-09-11 14:33] Benunc commented on #233
A screencast would likely be overkill for this. I think screenshots and text will suffice. I'd make the change directly on the site, no need for a rough draft.

[2019-09-11 14:35] Benunc commented on #232
Start with adding a section to the add-on docs for the advanced settings. Then we can decide if and how we want to link to those sections on the core advanced settings doc.

[2019-09-11 20:40] allienimmons commented on #232
Rough draft for Stripe and Square advanced tabs: https://docs.google.com/document/d/1S86Sq3yBur5BuIndLHW2Q-jCK9NzzVq_THEvUVlco2s/edit#

[2019-09-16 13:36] Benunc commented on #232
I made comments on that draft @allienimmons

Very well done.

Make those changes, and then go ahead and publish this one on the site. Ping here for a review once it's live on the site.

[2019-09-17 13:26] allienimmons commented on #232
@Benunc The page for the Stripe settings is published.  https://givewp.com/documentation/core/settings/advanced/stripe/

[2019-09-17 14:01] Benunc commented on #232
I thought these were going to be added to the Stripe Doc and the Square doc, not as standalone pages. @mathetos thoughts?

I like having them as separate pages for the structure of the docs, but I also know that (1) we are working toward fewer and longer docs and (2) in the future the advanced tab is not going to have these sections.

I think that for those two reasons we should make these two doc

[2019-09-17 15:40] mathetos commented on #232
Ya in this case folks aren't going to be looking for these settings in the traditional settings screen navigation way. They're just going to want to know these settings exist, so let's consolidate them to the individual addon doc pages and delete these with a redirect.

[2019-09-18 13:15] allienimmons commented on #232
If I'm understanding correctly, as an example, we'd want the Stripe page to appear in this list, with a page title like "Advanced Settings"
<img width="813" alt="Screen Shot 2019-09-18 at 9 14 36 AM" src="https://user-images.githubusercontent.com/41754561/65151811-d3319380-d9f4-11e9-8b86-2cbb0f7d474c.png">

[2019-09-18 13:42] Benunc commented on #232
No, as a section at the bottom of that page.

![Screen Shot 2019-09-18 at 9 41 42 AM](https://user-images.githubusercontent.com/9629102/65153947-a2ebf400-d9f8-11e9-87c2-ab1438c6b449.png)

[2019-09-18 13:48] allienimmons commented on #227
I couldn't edit my .htaccess file to lower the max input vars without breaking the site entirely. I could use help replicating this and breaking the PDF receipt in the expected way

Draft of new section is here: https://docs.google.com/document/d/1gI785dP4g6nlAyhi3Y14KzOIjiMYHMJhQswcWpmeaU0/edit

[2019-09-20 00:33] mathetos opened #235 "update: Stripe screenshots for new Settings UI and general improvements"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/stripe-gateway/
* Docs URL: https://givewp.com/documentation/core/payment-gateways/stripe-free/
* Issue Type: Update

## Issue Description

Give Stripe version 2.2.1 will bring a new settings UI allowing a third tab.

Additionally, the current screenshots, particularly on Stripe Premium are a bit of an eyesore. Let's ramp them all

[2019-09-23 13:35] allienimmons commented on #209
I went through the process of accessing the testing credentials for PayTM. The doc is accurate as it is, with the exception of one screenshot.

The Testing Paytm section has an API Keys screenshot. I just need to replace the current one with this one:

![Screen Shot 2019-09-20 at 9 57 53 AM](https://user-images.githubusercontent.com/41754561/65430159-76175280-dde5-11e9-8efe-d3caa62aaff5.png)

[2019-09-23 13:40] allienimmons commented on #232
Updated the following 2 links with this new content:

https://givewp.com/documentation/add-ons/stripe-gateway/
https://givewp.com/documentation/add-ons/square-gateway/

[2019-09-23 13:50] allienimmons commented on #233
Doc with suggested edits: https://docs.google.com/document/d/1V79UaJakhzHOmRnoMIHMTnLaYJFWGkzbpRKZKkfvv3c/edit

[2019-09-23 13:50] Benunc commented on #232
Make a simple note at the top of each new section that says

Once you do that, close this WITH AUTHORITY. :-)

[2019-09-23 13:53] allienimmons commented on #232
Matt suggested closing the other 2 docs I made with redirects. How do I go about that?

[2019-09-23 13:55] Benunc commented on #233
I made suggestions on the google doc. go ahead and add the changes to the doc, and ping again here for me to read over it and close this. great work.

[2019-09-23 13:56] Benunc commented on #232
@mathetos will need to do that.

[2019-09-23 14:01] allienimmons commented on #233
Added to the doc: https://givewp.com/documentation/resources/adding-custom-functions-to-your-wordpress-website/

[2019-09-23 14:28] #233 closed

[2019-09-23 19:22] mathetos commented on #232
Old posts deleted and 301 redirected successfully. Thanks all!

[2019-09-23 19:22] #232 closed

[2019-09-24 12:18] allienimmons commented on #209
Update made and ready for review by @Benunc or @mathetos

[2019-09-24 12:47] Benunc commented on #209
Looks great.

[2019-09-24 18:28] mikejhale opened #236 "chore: Document new Stripe Checkout 2.0 process"
@mikejhale commented on [Wed Jul 31 2019](https://github.com/impress-org/givewp/issues/4208)

## User Story

As a user I want clear documentation on how to configure Stripe Checkout 2.0 and the benefits of using it.

## Possible Solution
Similar to https://docs.wpsimplepay.com/articles/new-stripe-checkout/ when it’s nearing release so our customers know how they can upgrade to the new checkout ver

[2019-09-25 13:21] allienimmons commented on #216
@mathetos
What exactly do you mean when you say "Shortcode Builder Options" and "Additional Shortcode Options"?

[2019-09-25 16:22] mathetos commented on #216
The shortcode builder is the button above TinyMCE that allows users to generate shortcodes from a popup form. See here:
https://givewp.com/documentation/core/shortcodes/

The "additional shortcode options" means that that particular shortcode has MORE options than are available in the shortcode. So it's necessary that we document them. They're considered more "advanced" options.

[2019-09-26 21:06] allienimmons commented on #235
Please update this to include details on the Remember Me setting. What is it remembering? (names, emails, cc info, etc) Where is the info being stored (give vs stripe)

[2019-09-30 13:19] allienimmons commented on #221
Refreshing this reminder for @Benunc or @mathetos to give this a glance please.

[2019-09-30 15:59] mathetos commented on #235
Thanks @mikejhale for putting this together to help with the "Remember Me" settings.

https://docs.google.com/document/d/15q8MHCVSqwylUaok-2zte5KzdqMnF_B4xzOXG6T6naQ/edit

[2019-09-30 19:44] mathetos commented on #221
Great work. Publishing for now after a short review. Let's revisit after we send a few users to it and see how well it works for them.

[2019-09-30 19:44] #221 closed

[2019-10-01 12:20] allienimmons opened #237 "web-doc: update Managing Subscriptions to include creating existing subscriptions"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/managing-subscriptions/
* Issue Type: Update

## Issue Description
Update the doc to include more details and guidance on creating existing subscriptions with Stripe, based on Matt's response from the ticket below.

## Assets
https://secure.helpscout.net/conversation/965700270/47872?folderId=672194

## Acceptanc

[2019-10-01 12:24] allienimmons opened #238 "web-doc: Update Zapier to touch on statuses for one-time and first-time donations"
## Issue Info
* Docs URL: https://givewp.com/documentation/{issue}
* Doc Title: (only necessary if a new doc)
* Issue Type: Update|New|Reorder

## Issue Description
Update the doc to explain how to set up Zaps to send emails for only one-time donations or first-time subscriptions. Should focus on the published and complete statuses and their difference. Use the ticket below to build an example sce

[2019-10-01 18:47] allienimmons opened #239 "web-dov: Update Stripe doc to provide more specific information about webhooks"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/stripe-gateway/
* Issue Type: Update

## Issue Description
Update this doc to provide clarity on webhooks and Recurring Donations. Should detail out that if they are not seeing renewals appear in Give, it could mean their webhook events are not completely configured.

## Acceptance Criteria

**This doc is ready to publish when:**
-

[2019-10-01 20:05] Benunc commented on #238
added an additional ticket here that can showcase how to get a sample donation that has ALL THE DATA in it for setup of a Zap: use manual donations.

[2019-10-03 00:46] allienimmons opened #240 "web-doc: update all Stripe basic/sales docs to include clear fee info"
## Issue Info
* Docs URL:
https://givewp.com/addons/stripe-gateway/
https://givewp.com/documentation/add-ons/stripe-gateway/
https://givewp.com/documentation/core/payment-gateways/stripe-free/
* Issue Type: Update

## Issue Description
It is not as clear as it can be that Stripe paid still has fees. The language surrounding paid vs. free Stripe makes it sounds that if you have free, you pay fees a

[2019-10-03 00:49] allienimmons opened #241 "web-doc: update Google Analytics doc to be clearer about form tracking"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/google-analytics/
* Issue Type: Update

## Issue Description
Currently, it's not at all clear how form tracking works. The average user would assume that tracking a form includes times a form was viewed by human eyes, whereas Google tracks the number of times the form code appears on a page and that page is viewed with human eyes.

[2019-10-03 01:03] mathetos commented on #240
1. Product Page
This is the purpose of the comparison table, and it does say really clearly "In addition to Stripe's fees".
See here:
![image](https://user-images.githubusercontent.com/930724/66091964-c063a680-e53e-11e9-9c1c-4ce5e3e19489.png)

2. Stripe Free Doc
It's included in the FAQ section at the bottom of the doc.

3. Stripe Pro Doc
It wasn't mentioned on that doc at all, so I added an FAQ t

[2019-10-03 01:03] #240 closed

[2019-10-03 19:52] mikejhale opened #242 "web-doc: Add Razorpay webhooks docs"
## Issue Info
* Docs URL: http://docs.givewp.com/razorpay-webhooks
* Doc Title: TBD
* Issue Type: New

## Issue Description

Give Razorpay add-on is being updated to support recurring payments which requires adding a Give webhook to your Razorpay account similar to Stripe. Need documentation for how to add a webhook to Razorpay.

## Assets

- https://razorpay.com/docs/webhooks/
- Eaxmple: https://

[2019-10-08 20:21] allienimmons opened #243 "web-doc: update SLL doc to be clearer about mixed content warnings"
## Issue Info
* Docs URL: https://givewp.com/documentation/resources/how-to-use-ssl-and-https-for-your-wordpress-website/
* Issue Type: Update

## Issue Description
Given the new 2020 Google crack-down on mixed content, our SSL needs a bit of brushing up and clarity on how to avoid errors and blocked donations due to mixed content errors. In the doc, we call it mix-content rather than mixed conten

[2019-10-09 16:24] allienimmons commented on #239
Draft is here: https://docs.google.com/document/d/1xrgh0aQZtBhwKtp9M-_sJ4-nlq3sdKwHv-o85mBT2eA/edit

[2019-10-09 16:34] allienimmons commented on #211
Draft here: https://docs.google.com/document/d/195FGseqr3AGXrqgsDPVQMopjsS8m2X4SVIzLvafaCmk/edit#

[2019-10-09 17:29] allienimmons commented on #171
@DevinWalker @mathetos This has not been touched for 6 months. Is this something we are still prioritizing?

[2019-10-10 12:58] allienimmons opened #244 "web-doc: update PayFast to include any potentially missing steps"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/payfast/
* Doc Title: (only necessary if a new doc)
* Issue Type: Update|New|Reorder

## Issue Description
The doc gives full description for setting up PayFast for testing, but not for live payments. Go through teh PayFast method and make sure that all the steps necessary for donations and notifications are displayed in the doc in

[2019-10-10 14:18] allienimmons commented on #211
@mathetos Please review and provide feedback!

[2019-10-10 14:51] allienimmons commented on #230
@mathetos Please take a look at this draft!  https://docs.google.com/document/d/16bXWEYeEHtCS5xAhZChlh7U8zqT_KKobymPkEmUM9Pg/edit

[2019-10-10 15:44] allienimmons commented on #228
@mathetos  This draft is ready for review.  Once I have access to Figma, I definitely want to re-do the screenshots to not have red arrows, but those screenshots are indicative of placement and content. https://docs.google.com/document/d/1PjAQCdGrX0lE7v8lk28YeSohuwtL3hTufCdk0FQmWtA/edit

[2019-10-15 17:32] mikabenjamin opened #245 "web-doc: Update Give API Reference to specify where User profile and API Key Generator are located"
## Issue Info
* Docs URL: https://givewp.com/documentation/developers/give-api-reference/
* Issue Type: Update

## Issue Description

Update this doc to specify the User profile is within the WordPress dashboard, not the GiveWP profile. Also to update where the API Key Generator is located, no longer at the bottom of the profile page.

## Assets

![image](https://user-images.githubusercontent.com/

[2019-10-15 18:13] mikabenjamin opened #246 "web-doc: Add "Quarterly" to the Recurring Donation Add-On under Length of Recurrence"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/
* Issue Type: Update

## Issue Description

Add "Quarterly" to the Recurring Donation doc under Length of Recurrence

## Assets

![image](https://user-images.githubusercontent.com/38933699/66857595-79ad7d80-ef3c-11e9-9a39-4b53fd609981.png)

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] I

[2019-10-15 18:17] #246 closed

[2019-10-15 20:02] #245 closed

[2019-10-16 01:02] mathetos commented on #235
I've checked off the screenshots from the list above that I've already updated. There's quite a few more still to do, but it's good progress. The Figma workflow I think will be a good one for us.

[2019-10-16 19:22] mathetos commented on #235
All screenshots have been updated, but doing this highlights that the settings descriptions are outdated compared to the new UI. Creating a new issue to address that.

[2019-10-16 19:22] #235 closed

[2019-10-16 19:30] mathetos opened #247 "web-doc: update Stripe settings description doesn't follow new settings layout"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/stripe-gateway/
* Issue Type: Update

## Issue Description

The new settings UI means that settings are now in different places within different tabs. The Settings descriptions on this page need to have the same hierarchy and updated descriptions.

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] The section cal

[2019-10-21 16:22] allienimmons commented on #243
@mikabenjamin Have you been able to take a stab at this doc yet?

[2019-10-21 16:25] allienimmons commented on #242
@mikejhale Is this something that has received any forward momentum?

[2019-10-21 16:26] allienimmons commented on #236
@mathetos Is this something that has gotten any forward momentum?

[2019-10-21 16:26] allienimmons commented on #231
@mikejhale What is the status on this?

[2019-10-21 17:01] mathetos commented on #236
@allienimmons I missed this one somehow, and created this one instead and assigned it to you. I think mine describes the way we should implement this, so I'll close this in favor of mine:
https://github.com/impress-org/givewp-docs/issues/247

[2019-10-21 17:01] #236 closed

[2019-10-21 17:02] mathetos commented on #231
@allienimmons The patch has been merged, it's being released in GiveWP `2.5.9`

See here:
https://github.com/impress-org/givewp/issues/4266

[2019-10-21 17:03] mathetos commented on #243
This one is a bit sensitive. I think I'll take this one off Mika's hands for now.

[2019-10-22 16:41] #231 closed

[2019-10-22 16:42] allienimmons commented on #243
@mathetos I've nudged the due date out to next week

[2019-10-22 16:47] #239 closed

[2019-10-22 16:49] allienimmons commented on #211
@mathetos Pinging again to ask you to look at the draft linked above

[2019-10-22 19:45] mathetos commented on #211
@allienimmons Draft is good to go. Feel free to close it out once the doc is updated. Thanks!

[2019-10-22 20:18] #228 closed

[2019-10-22 20:21] #211 closed

[2019-10-25 20:13] allienimmons commented on #218
For all intents and purposes this is done, I just need to go back and make sure all the images have ALT tags. I forgot to do that as I was uploading them.

[2019-11-05 00:18] mathetos commented on #237
I ended up answering a ticket on this issue again today. I'd like to get this updated ASAP so we don't have to write this over and over again.

Additionally, reference this to see if they way I worded this is a little better than the previous response:
https://secure.helpscout.net/conversation/997111777/50074/

[2019-11-21 18:37] DevinWalker commented on #171
We are not prioritizing this so I'm closing as our database schema will be changing even more in future iterations.

[2019-11-21 18:37] #171 closed

[2019-12-04 19:45] allienimmons opened #248 "web-doc: updat Stripe + Plaid doc number of accounts"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/stripe-gateway/stripe-plaid/
* Issue Type: Update

## Issue Description
Our documentation says "Development mode in the Give settings is sufficient for taking live donations with Stripe + Plaid, until you reach the 100 donor mark. Once you reach that many donors/account integrations, you need a live Plaid account." This is not clea

[2019-12-04 19:48] allienimmons opened #249 "web-doc: update PDF Receipts Docs to include bulk resend"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/pdf-receipts/
* Issue Type: Update

## Issue Description
Add a  FAQ section to explain how to bulk resend email receipts

## Acceptance Criteria

**This doc is ready to publish when:**
- [x] I see an FAQ section explaining how to resend emails
- [x] I see a screenshot showing how to bulk select

[2019-12-04 19:57] allienimmons opened #250 "web-doc: Update Square doc to address location IDs and API keys"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/square-gateway/
* Issue Type: Update

## Issue Description
Transactions can not go through if there is no Location ID set in the settings.  You can get your location ID by logging into Square and then navigating to https://squareup.com/dashboard/apps/my-apps

From there, click Manage App for the app you are using, and then on the n

[2019-12-04 20:05] allienimmons opened #251 "web-doc: Update Recurring to describe how to set recurring per level"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/recurring-donations/
* Issue Type: Update

## Issue Description
Update the doc to communicate that recurring frequencies can be determined based on the multi-level as well as how to set the one-time donation to not be recurring.

## Assets
https://secure.helpscout.net/conversation/1012015868/0/?folderId=672194
http://somup.com/cqXY

[2019-12-04 20:07] allienimmons opened #252 "web-doc: add new doc about customizing shortcode templates"
## Issue Info
* Doc Title:
* Issue Type: New

## Issue Description

## Assets
https://www.facebook.com/groups/givewp/permalink/769876120141280/
## Related Give Core/Add-on issues

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] I see links from other shortcode pages that lead to this one.

[2019-12-04 20:13] allienimmons opened #253 "web-doc: Update subscription management doc to be clearer about canceling"
## Issue Info
* Docs URL:https://givewp.com/documentation/add-ons/recurring-donations/managing-subscriptions/
* Issue Type: Update

## Issue Description
The doc could be more clear about how to provide members with access to their membership so they can do things like logging in, changing info, and cancelling.

## Assets
https://secure.helpscout.net/conversation/1018752510/51882/

## Acceptance Cr

[2019-12-04 20:16] allienimmons opened #254 "web-doc: update FFM doc to explain how to download CSV records"
## Issue Info
* Docs URL: https://givewp.com/documentation/add-ons/form-field-manager/form-field-manager-101/
* Issue Type: Update

## Issue Description
It's unclear how to include FFM data when downloading a CSV. There's no information about exactly how to make sure that data is included in an export.

## Acceptance Criteria

**This doc is ready to publish when:**
- [ ] I see a screenshot of wher

[2019-12-04 22:43] Benunc commented on #237
DONE. I may need to add a video of this, or a couple of screenshots, but it is LIVE.

[2019-12-04 22:53] #237 closed

[2019-12-05 14:33] Benunc commented on #238
Done https://givewp.com/documentation/add-ons/zapier/

[2019-12-05 14:33] #238 closed

[2019-12-09 13:41] Benunc commented on #212
done. https://givewp.com/documentation/add-ons/recurring-donations/supported-payment-gateways/mollie/

[2019-12-09 13:41] #212 closed

[2019-12-09 21:27] allienimmons commented on #254
@mathetos Ready for review. https://docs.google.com/document/d/13QM8NClzDwhAaMtDXNYden6uSTi6xbbV0B_Fwg5cxTo/edit

[2019-12-09 23:02] allienimmons commented on #249
@mathetos  Ready for review. https://docs.google.com/document/d/1PoRLGQ22OhA_02EPwOiml72-aAzHwnxO1fJ4DAYviJs/edit